{% extends "index.html" %} {% block content %}


<div class="tab-content" id="login">
    <div class="flex">
        <div class="trade-download">
            <div style="transform: rotate(90deg);padding-left: 10px;">
                <p>Filter</p>
            </div>
            <span>
                <a href=""><i class="fa-solid fa-file-csv"></i></a>
            </span>
        </div>
        <div class="trades-side">
            <div class="trade-top">
                <div class="flex space-bw">
                    <div>
                        <p>Filter</p>
                    </div>
                    <div class="closeBtn">
                        <i class="fa-solid fa-xmark"></i>
                    </div>
                </div>
            </div>
            <div class="trade-btm">
                <div>
                    <label for="">From:</label>
                    <input type="date" name="" id="">
                </div>
                <div>
                    <label for="">Date:</label>
                    <input type="date" name="" id="">
                </div>
                <div>
                    <label for="">Username:</label>
                    <select name="" id="">
                        <option value="">Select</option>
                    </select>
                </div>
                <div>
                    <label for="">Search:</label>
                    <input type="text">
                </div>
                <div>
                    <label for=""></label>
                    <input type="submit" value="View" class="form-btn">
                    <input type="submit" value="Clear" class="cancel-btn">
                </div>
            </div>
        </div>
        <div class="trades-body user-table">
            <table style="width: 100%;">
                <tr>
                    <th>Login Date</th>
                    <th>Logout Date</th>
                    <th>Username</th>
                    <th>User Type</th>
                    <th>IP Address</th>
                    <th>Device ID</th>
                    <th>City</th>
                    <th>Country</th>
                </tr>
                <tr>
                    <td>Login Date</td>
                    <td>Logout Date</td>
                    <td>Username</td>
                    <td>User Type</td>
                    <td>IP Address</td>
                    <td>Device ID</td>
                    <td>City</td>
                    <td>Country</td>
                </tr>
            </table>
        </div>
    </div>
</div>

<script>
    const searchInput = '';
    const from_date = '';
    const to_date = '';
    const page = '1';

axios.get(`{% url "login-history" %}`, {
    headers: {
        "X-CSRFToken": "{{ csrf_token }}"
    },
    params: {
        searchInput: searchInput,
        from_date: from_date,
        to_date:to_date,
        page:page

    }
})
.then(res => {
    console.log("res ==", res);
})
.catch(err => {
    console.log("err", err);
});

</script>

{% endblock content %}
