{% extends "index.html" %} {% block content %}


<div class="tab-content" id="login">
    <div class="flex">
        <div class="trade-download">
            <div style="transform: rotate(90deg);padding-left: 10px; cursor: pointer;">
                <p id="loginHistoryId">Filter</p>
            </div>
            <a href="{% url 'Admin:login-history' %}?from_date={{ from_date }}&to_date={{ to_date }}&exchange={{ exchange }}&symbol={{ symbol }}&download_csv=true" class="download-csv-link">
                <i class="fa-solid fa-file-csv"></i>
            </a>
        </div>
        <div class="trades-side">
            <div class="trade-top">
                <div class="flex space-bw">
                    <div>
                        <p>Filter</p>
                    </div>
                    <div class="closeBtn">
                        <i class="fa-solid fa-xmark"></i>
                    </div>
                </div>
            </div>
            <form method="get">
                {% csrf_token %}
                <div class="trade-btm">
                    <div>
                        <label for="">From:</label>
                        <input type="date" name="from_date" id="">
                    </div>
                    <div>
                        <label for="">Date:</label>
                        <input type="date" name="to_date" id="">
                    </div>
                    <div>
                        <label for="">Username:</label>

                        <select name="user_name" id="">
                            {% for i in all_users %}
                            <option value="{{i.user_name}}">{{i.user_name}}</option>
                            {% endfor %}
                        </select>
                    </div>
                    {% comment %} <div>
                        <label for="">Search:</label>
                        <input type="text">
                    </div> {% endcomment %}
                    <div>
                        <label for=""></label>
                        <button type="submit" value="View" class="form-btn">View</button>
                        <a href="{% url 'Admin:login-history' %}" style="background-color:#646464; color:#fff !important;" type="" value="View" class="form-btn">Clear</a>
                    </div>
                </div>
            </form>
        </div>
        <div class="trades-body user-table">
            {% if login_data %}
            <table style="width: 100%;">
                <tr>
                    <th>Login Date</th>
                    <th>Logout Date</th>
                    <th>Username</th>
                    <th>User Type</th>
                    <th>IP Address</th>
                    <th>Device ID</th>
                    <th>City</th>
                    <th>Country</th>
                </tr>
                {% for i in login_data %}
                <tr>
                    <td>{{i.created_at}}</td>
                    <td>{{i.action}}</td>
                    <td>{{i.user_history__user_name}}</td>
                    <td>{{i.user_history__user_type}}</td>
                    <td>{{i.ip_address}}</td>
                    <td>{{i.method}}</td>
                    <td>City</td>
                    <td>Country</td>
                </tr>
                {% endfor %}
            </table>
            {% else %}
            <div style="display: flex;justify-content: center;margin-top: 14%;">
              <p>No data found</p>
            </div>
        {% endif %}
        </div>
    </div>
</div>

<script>
    $('.user-deatils').click(function () {
        $(".trades-side").hide();
        $(".trades-body").css("width", "100%");
    });
    
    $('#loginHistoryId').click(function () {
      $(".trades-side").show();
      $(".trades-body").css("width", "79%");
    });
</script>

{% endblock content %}
