{% extends "index.html" %} {% block content %}

<style>
    #loader {
        border-width: 3px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, 50%);
        width: 48px;
        height: 48px;
        border: 5px solid #000;
        border-bottom-color: transparent;
        border-radius: 50%;
        display: inline-block;
        box-sizing: border-box;
        animation: rotation 1s linear infinite;
        }
    
        @keyframes rotation {
        0% {
            transform: rotate(0deg);
        }
        100% {
            transform: rotate(360deg);
        }
        } 


        .fit-to-size {
            position: absolute;
            background: #fff;
            z-index: 99;
            top: 180px;
            left: 270px;
        }
    .buy-card{
        box-shadow: 0 0  10px #d9d9d9;
        width: 200px;
    }
    .fit-to-size li{
        list-style: none;
    }
    .fit-to-size li a{
        display: flex;
        flex-wrap: wrap;
        padding: 5px;
    }
    .fit-to-size li a{
        color: #000;
        text-decoration: none;
    }
    .fit-to-size li a p{
        margin-left: 10px;
    }
    .fit-to-size li a:hover{
        background: #d6ebf3;
    }
    #watchPopUpId{
        display:none;
    }
            
</style>


<div class="tab-content" id="marketwatch">
    <div class="user-table col-100">
        <div class="market-top flex" style="margin:15px 0;">
            <div class="mr">
                <select id="selectedExchangeID" onChange={selectCoinType()} class="form-group symbolKey">
                    <option>Select</option>
                    {% for i in coin_type %}
                    <option value="{{i}}">{{i}}</option>
                    {% endfor %}
                </select>
            </div>
            <div>
                <div class="mr">
                    <select onChange={selectSymbolHandler()} class="form-group symbol">
                        <option>Select</option>
                    </select>
                </div>
                
            </div>
            <div style='position:relative;' > 
                <input style=" width: 260px;" id="inputWatchId" type="text" class="">
                <div id="inputWatchDropDown" style="display: none;position: absolute;
                z-index: 99;
                background: #fff;
                height: 200px;
                overflow-y: scroll;
                width: 260px;
                padding: 2px;
                overflow-x: hidden;" class='active'>
                    <ul id="symbolList" class="form-group symbol"></ul>
                </div>
            </div>
           
            
        </div>
        <table style="width: 100%;">
            <div id="loader" style="display: none;"></div>
            <tr>
                <th>Exchange</th>
                <th>Symbol</th>
                <th>Buy Qty</th>
                <th>Buy Price</th>
                <th>Sell Price</th>
                <th>Sell Qty</th>
                <th>LTP</th>
                <th>Net Change</th>
                <th>Open</th>
                <th>High</th>
                <th>LUT</th>
                <th>Low</th>
                <th>Close</th>
            </tr>
           
                <tbody id="data-table-body" style="background: #000; color: #fff; position:relative;">
                    <div class="buy-card" id="watchPopUpId">
                        <div class="fit-to-size">
                            <li onClick="watchbuyhandler()">
                                <a>
                                    <div>
                                        <i class="fa-solid fa-money-bill"></i>
                                    </div>
                                    <div id="watchBuyId">
                                        <p>Buy</p>
                                    </div>
                                </a>
                            </li>
                            <li onClick="sellhandler()">
                                <a>
                                    <div>
                                        <i class="fa-solid fa-money-bill"></i>
                                    </div>
                                    <div>
                                        <p>Sell</p>
                                    </div>
                                </a>
                            </li>
                            <li onClick="chartview()">
                                <a>
                                    <div>
                                        <i class="fa-solid fa-chart-line"></i>
                                    </div>
                                    <div>
                                        <p>View Chart</p>
                                    </div>
                                </a>
                            </li>
                            <li onClick="scripthandler()">
                                <a>
                                    <div>
                                        <i class="fa-solid fa-scroll"></i>
                                    </div>
                                    <div>
                                        <p>Script Info</p>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a>
                                    <div>
                                        <i class="fa-solid fa-table-columns"></i>
                                    </div>
                                    <div>
                                        <p>Manage Columns</p>
                                    </div>
                                </a>
                            </li>
                            <li onClick="marketPicture()">
                                <a>
                                    <div>
                                        <i class="fa-solid fa-chart-simple"></i>
                                    </div>
                                    <div>
                                        <p>Market Picture</p>
                                    </div>
                                </a>
                            </li>
                        </div>
                    </div>
                </tbody>
         
        </table>
    </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>

<script> 
    let buyPriceQty = 0;
    let buyPriceList = [];

    let sellPriceQty = 0;
    let sellPriceList = [];
    let toggleOption = "";
    const marketPicture = () => {
        $("#marketpictureId").css("display", "block")
        $('.action_dropdown').toggle();
        $("#watchPopUpId").css("display", "none");
        setDefaultValueHandler();
        buyPriceList = [];
        buyPriceQty = 0;
        sellPriceQty = 0;
        sellPriceList = [];
    }

    const scripthandler = () => {
        $("#scriptINfoId").css("display", "block")
        $('.action_dropdown').toggle();
        $("#watchPopUpId").css("display", "none")
    }
    const sellhandler = () => {
        $("#sellWatchId").css("display", "block")
        $('.action_dropdown').toggle();
        $("#watchPopUpId").css("display", "none")
    }
    const chartview = () => {
        var left = (screen.width/2)-(1200/2);
        var top = (screen.height/2)-(600/2);
        const data = JSON.parse(sessionStorage.getItem("currentCoin"));
        console.log("data?.InstrumentIdentifier", data?.InstrumentIdentifier)
        let currentCoin = data?.InstrumentIdentifier
        if (data.Exchange?.toUpperCase() !== "NSE") {
              currentCoin = `${
                data?.InstrumentIdentifier?.split("_")?.[1]
              }1!`
        } 
        window.open(`https://www.tradingview.com/chart/?symbol=${currentCoin}&theme=dark`, 'chartwindow',  `width=1200,height=600,left=${left},top=${top}`);
        $('.action_dropdown').toggle();
        $("#watchPopUpId").css("display", "none")
    }
    

      

const showDropDown = () => {
    $("#inputWatchDropDown").show();
};

const hideDropDown = () => {
    $("#inputWatchDropDown").hide();
};

// Function to handle input and show dropdown
const selectCoinHandler = (val) => {
    $("#inputWatchId").val(val);
    hideDropDown();
    $.ajax({
        type:'POST',
        url:'{% url "add-market-coin" %}',
        headers: {'X-CSRFToken': '{{ csrf_token }}'},
        data: {
            trade_coin_id: val
        },
        success:function(res){
            window.location.reload();
        },
        error:function(res){
          alert(res?.responseJSON.message);
        }
    })
}
const currentExchange =  JSON.parse("{{coin_type|safe}}".replaceAll(`'`, `"`))

const watchSearchHandler = () => {
 
    setTimeout(() => {
        if ($("#inputWatchId").val().length > 0) {
            axios.post(`${BASE_URL}/api/tradeCoin/coins?search=${$("#inputWatchId").val()}`, {
                coinList: currentExchange
            })
            .then(res => {
                const symbolList = $("#symbolList");
                symbolList.empty(); // Clear existing list items
                res.data.response.forEach(item => {
                    symbolList.append($(`<li onClick="selectCoinHandler('${item.InstrumentIdentifier}')" style="cursor: pointer;">${item.InstrumentIdentifier}</li>`));
                });
                showDropDown(); 
            })
            .catch(err => {
            });
        } else {
            hideDropDown();
        }
    }, 500);
};

// Event listeners
$("#inputWatchId").on("input", watchSearchHandler); // Handle input changes


    const baseNodeURL = BASE_URL
    const socket = io(baseNodeURL);  

    function showLoader() {
        document.getElementById('loader').style.display = 'block';
    }
    function hideLoader() {
        document.getElementById('loader').style.display = 'none';
    }
    let identifiers;

    socket.on("connect", () => {
        console.log("Connected to the Socket.io server");
        });
    
        identifiers = "{{identifiers|safe}}";
        identifier = JSON.parse(identifiers.replaceAll(`'`, `"`))
        socket.emit("filterDataGet", {"identifier": identifier });
        let previousResult = [];
        socket.on("filterDataSend", (data) => {
        $("#data-table-body").empty();
        data.forEach((item) => {
            $("#data-table-body").append( `
            <tr style="cursor: pointer;" onclick="toggleMenuOption('${escape(JSON.stringify(item))}')">
                <td class="popup-trigger">${item.Exchange}</td>
                <td class="popup-trigger">${item.InstrumentIdentifier}</td>
                <td class="popup-trigger">${item.BuyQty}</td>
                <td class="popup-trigger" id="b${item.InstrumentIdentifier}">${item.BuyPrice?.toFixed(2)}</td>
                <td class="popup-trigger" id="s${item.InstrumentIdentifier}">${item.SellPrice?.toFixed(2)}</td>
                <td class="popup-trigger">${item.SellQty}</td>
                <td class="popup-trigger">${item.LastTradePrice}</td>
                <td class="popup-trigger">${item.PriceChange}</td>
                <td class="popup-trigger">${item.Open}</td>
                <td class="popup-trigger">${item.High}</td>
                <td class="popup-trigger">${item.LastTradeTime}</td>
                <td class="popup-trigger">${item.Low}</td>
                <td class="popup-trigger">${item.Close}</td>
            </tr>
            `);
            if (item.BuyPrice && previousResult.find(findItem => findItem.identifier === item.InstrumentIdentifier)?.buyPrice !== item.BuyPrice) {
                $(`#b${item.InstrumentIdentifier}`).css("background", item.buyColor);
                setTimeout(() => $(`#b${item.InstrumentIdentifier}`).css("background", "transparent"), 500);
            }

            if (item.SellPrice && previousResult.find(findItem => findItem.identifier === item.InstrumentIdentifier)?.sellPrice !== item.SellPrice) {
                $(`#s${item.InstrumentIdentifier}`).css("background", item.sellColor);
                setTimeout(() => $(`#s${item.InstrumentIdentifier}`).css("background", "transparent"), 500);
            }
        
            previousResult = [
                ...previousResult.filter(filterItem => filterItem.identifier !== item.InstrumentIdentifier),
                {
                    identifier: item.InstrumentIdentifier,
                    buyPrice: item.BuyPrice,
                    sellPrice: item.SellPrice,
                }
            ]
        });
    });
    
    socket.on("disconnect", () => {
        console.log("Disconnected from the Socket.io server");
    });

    function showLoader() {
        document.getElementById('loader').style.display = 'none';
    }

  {% comment %}  api to ftach all coin  {% endcomment %}
  let responses;
  $.ajax({
    type: "POST",
    url: `${BASE_URL}/api/tradeCoin/coins`,
    data: JSON.stringify({
        coinList: currentExchange
    }),
    contentType: 'application/json',
    success: function (data) {
      let symbolKey = $(".symbolKey").val();
      if (symbolKey === "Select") {
        symbolKey = "";
      }
      responses = data.responses;
      responses
      .filter(filterItem => filterItem.Exchange.toLowerCase().includes(symbolKey.toLowerCase()) )
      .filter(remove => !identifier.includes(remove.InstrumentIdentifier))
      .map(item => {
        $(".symbol").append(`<option>${item.InstrumentIdentifier}</option>`);
      })

    },
    error: function (xhr, status, error) {
      console.error('Error:', error);
    }
  });



  const selectSymbolHandler = () => {
    let result = $(".symbol").val();

    $.ajax({
        type:'POST',
        url:'{% url "add-market-coin" %}',
        headers: {'X-CSRFToken': '{{ csrf_token }}'},
        data: {
            trade_coin_id: result
        },
        success:function(res){
            window.location.reload();
        },
        error:function(res){
          alert(res?.responseJSON.message);
        }
    })
  }

  const selectCoinType = () => {
    let symbolKey = $(".symbolKey").val();
    if (symbolKey === "Select") {
        symbolKey = "";    
    }
    $(".symbol").empty();
    $(".symbol").html("<option>Select</option>");
    axios.post(`${BASE_URL}/api/tradeCoin/coins`, {
        coinList: [$("#selectedExchangeID").val()]
    }).then((res) => {
        res.data.response.sort((a,b) => a.InstrumentIdentifier < b.InstrumentIdentifier ? -1 : a.InstrumentIdentifier > b.InstrumentIdentifier ? 1 : 0).map(item => {
            $(".symbol").append(`<option value=${item.InstrumentIdentifier}>${item.InstrumentIdentifier}</option>`)
        })
    }).catch(err => console.log("err", err))
  }

  document.addEventListener('click', (event) => {
    $(".fit-to-size").css({
        top: `${event.clientY+15}px`,
        left: `${event.clientX}px`,
      });
  });

</script>


{% endblock content %}
