{% extends "index.html" %} {% block content %}

<div class="tab-content" id="pnl">
    <div class="flex">
        <div class="trade-download">
            <div style="transform: rotate(90deg);padding-left: 10px;">
                <p id="pAndLId">Filter</p>
            </div>
            <span>
                <a href=""><i class="fa-solid fa-file-csv"></i></a>
            </span>
        </div>
        <div class="trades-side">
            <div class="trade-top">
                <div class="flex space-bw">
                    <div>
                        <p>Filter</p>
                    </div>
                    <div class="closeBtn">
                        <i class="fa-solid fa-xmark"></i>
                    </div>
                </div>
            </div>
            <div class="trade-btm">
                <div>
                    <label for="">Username:</label>
                    <select name="" id="">
                        <option value="{{request.user.user_name}}">{{request.user.user_name}}</option>
                    </select>
                </div>
                <div>
                    <label for=""></label>
                    <input type="submit" value="Apply" class="form-btn">
                    <input type="submit" value="Clear" class="cancel-btn">
                </div>
            </div>
        </div>
        <div class="trades-body user-table">
            <table style="width: 100%;">
                <tr>
                    <th>Username</th>
                    <th>Realised P&L</th>
                    <th>M2M P&L</th>
                    <th>Total</th>
                </tr>
                <tr>
                    <td>{{request.user.user_name}}</td>
                    <td id="releasePLId"></td>
                    <td id="m2mPLId"></td>
                    <td id="totalId"></td>
                </tr>
            </table>
        </div>
    </div>
</div>

<script>
    $('.closeBtn').click(function () {
        $(".trades-side").hide();
        $(".trades-body").css("width", "95%");
    });
    
    $('#pAndLId').click(function () {
        $(".trades-side").show();
        $(".trades-body").css("width", "79%");
    });

    const profitLossHandler = (from_date = '', to_date = '') => {
        axios.get(`{% url "position-header-api" %}`, {headers: { "X-CSRFToken": "{{ csrf_token }}" }})
        .then(res => {
            $("#releasePLId").html(res.data.release_p_and_l)
          })
      } 

      const updateTotalPrice = (apiResponse, socketResponse) => {
        const result = apiResponse.data?.response
          .map((item) => {
            const findSocketVal = socketResponse.find(
              (findObject) =>
                findObject?.InstrumentIdentifier === item?.identifer
            );
            return (
              item?.total_quantity > 0
                ? (findSocketVal?.BuyPrice - item?.avg_buy_price) *
                  item?.total_quantity *
                  findSocketVal?.QuotationLot
                : (item?.avg_sell_price - findSocketVal?.SellPrice) *
                  Math.abs(item?.total_quantity) *
                  findSocketVal?.QuotationLot
            ).toFixed(2);
          })
          .reduce((partialSum, a) => Number(partialSum) + Number(a), 0);
        return isNaN(result) ? 0.0 : result
      };


    const socket = io(BASE_URL);  

    
    socket.on("connect", () => {
        console.log("Connected to the Socket.io server");
        axios.get(`{% url "position" %}`, {headers: { "X-CSRFToken": "{{ csrf_token }}" }})
        .then(res => {
            axios.get(`{% url "position-header-api" %}`, {headers: { "X-CSRFToken": "{{ csrf_token }}" }})
            .then(res2 => {
                $("#releasePLId").html(res2.data.release_p_and_l.toFixed(2)).css("color", res2.data.release_p_and_l > 0 ? "blue" : "red");

                socket.emit("filterDataGet", {"identifier": res.data.response.map(item => item.identifer) });
                socket.on("filterDataSend", (data) => {
                    const totalPrice = updateTotalPrice(res, data);
                    $("#m2mPLId").html(totalPrice?.toFixed(2)).css("color", totalPrice > 0 ? "blue" : "red");
                    $("#totalId").html((Number(totalPrice) + Number(res2.data.release_p_and_l)).toFixed(2)).css("color", (Number(totalPrice) + Number(res2.data.release_p_and_l)) > 0 ? "blue" : "red");

                })
            })
        })
    });
    socket.on("disconnect", () => {
        console.log("Disconnected from the Socket.io server");
    });
      profitLossHandler();
</script>

{% endblock content %}
