{% extends "index.html" %} {% block content %}


<div class="tab-content" id="rejection">
    <div class="flex">
        <div class="trade-download">
            <div style="transform: rotate(90deg);padding-left: 10px; cursor:pointer;">
                <p id="rejectionFilterId">Filter</p>
            </div>
            <span>
                <a href="{% url 'Admin:rejection-log' %}?from_date={{ from_date }}&to_date={{ to_date }}&exchange={{ exchange }}&symbol={{ symbol }}&download_csv=true" class="download-csv-link">
                  <i class="fa-solid fa-file-csv"></i>
                </a>
              </span>
        </div>
        <div class="trades-side">
            <div class="trade-top">
                <div class="flex space-bw">
                    <div>
                        <p>Filter</p>
                    </div>
                    <div class="closeBtn">
                        <i class="fa-solid fa-xmark"></i>
                    </div>
                </div>
            </div>
            <div class="trade-btm">
                <form method="get">
                  {% csrf_token %}
                <div class="flex space-bw">
                  <label for="">From:</label>
                  <input name="from_date" type="date" class="form_control" />
                </div>
                <div class="flex space-bw">
                  <label for="">To:</label>
                  <input name="to_date" type="date" class="form_control" />
                </div>
        
                <div class="flex space-bw">
                  <label for="">Username:</label>
                  <select name="user_name" id="" class="form_control flex">
                      {% for i in user %}
                        <option value="">{{i}}</option>
                      {% endfor %}
                    </select>
                </div>
        
                <div class="flex space-bw">
                  <label for="">Exchange:</label>
                  <select name="exchange" id="" class="form_control">
                    <option value="">All Exchange</option>
                        <option value="NSE">NSE</option>
                        <option value="MCX">MCX</option>
                        <option value="MINI">MINI</option>
                  </select>
                </div>
                <div class="flex space-bw">
                  <label for="">Symbol:</label>
                  <select name="symbol" id="" class="form_control">
                    <option name="symbol" value="">Select</option>
                    {% for i in response %}
                      <option value="{{i.coin_name}}">{{i.coin_name}}</option>
                    {% endfor %}
                  </select>
                </div>
        
                <div>
                    <label for=""></label>
                    <button type="submit" value="View" class="form-btn">View</button>
                    <a href="{% url 'Admin:rejection-log' %}" onClick="clearRejection()" style="color:#fff !important;padding: 2px 10px; cursor:pointer;" value="Clear" class="cancel-btn">Clear</a>
                </div>

              </form>
              </div>
        </div>
        <div class="trades-body user-table">
          {% if rejection %}
            <table style="width: 100%;">
                <tr>
                    <th>Date</th>
                    <th>Message</th>
                    <th>Username</th>
                    <th>Symbol</th>
                    <th>Type</th>
                    <th>Quantity</th>
                    <th>Price</th>
                    <th>Reference Price</th>
                    <th>IP Address</th>
                    <th>Device ID</th>
                    <th>Trade by</th>
                </tr>
                {% for i in rejection %}
                <tr>
                    <td>{{i.created_at}}</td>
                    <td>{{i.message}}</td>
                    <td>{{i.buy_sell_user__user_name}}</td>
                    <td>{{i.coin_name}}</td>
                    {% if i.quantity > 0 %}
                      <td style="color: blue">{{i.action}}</td>
                      <td style="color: blue">{{i.quantity |stringformat:"+d"|slice:"1:"}}</td>
                      <td style="color: blue">{{i.price}}</td>
                    {% else %}
                      <td style="color: red">{{i.action}}</td>
                      <td style="color: red">{{i.quantity |stringformat:"+d"|slice:"1:"}}</td>
                      <td style="color: red">{{i.price}}</td>
                    {% endif %}

                    <td>Reference Price</td>
                    <td>{{i.ip_address}}</td>
                    <td>Device ID</td>
                    <td>Trade by</td>
                </tr>
                {% endfor %}
            </table>
            {% else %}
            <div style="display: flex;justify-content: center;margin-top: 14%;">
              <p>No data found</p>
            </div>
        {% endif %}
        </div>
    </div>
</div>

<script>
  $('.closeBtn').click(function () {
      $(".trades-side").hide();
      $(".trades-body").css("width", "95%");
  });
  
  $('#rejectionFilterId').click(function () {
      $(".trades-side").show();
      $(".trades-body").css("width", "79%");
  });
</script>

{% endblock content %}
