{% include "components/new-tab/user-header.html" %}
{% load static %}{% block newtab %}

<div class="tab-content" id="brk">
     <div class="tab-head">
      <li onClick="trunOverWise()" class="active" data-id="chart">
        TURNOVER WISE SETTING
      </li>
      <li onClick="symbolWise()" data-id="table">SYMBOL WISE SETTING</li>
    </div>
    <div class="brk-tab-wrapper flex">
        <div class="brk-tab-content" id="turnover-wise">
            <div class="flex">
                <div class="trade-download">
                    <div style="transform: rotate(90deg);padding-left: 10px;">
                        <p id="brkFilterID">Filter</p>
                    </div>
                    <span>
                      <a href=""><i class="fa-solid fa-file-csv"></i></a>
                    </span>
                </div>
                <div class="trades-side">
                    <div class="trade-top">
                        <div class="flex space-bw">
                            <div>
                                <p>Filter</p>
                            </div>
                            <div class="closeBtn">
                                <i class="fa-solid fa-xmark"></i>
                            </div>
                        </div>
                    </div>
                    <div class="trade-btm">
                   
                        <div class="flex space-bw">
                            <label for="" >Exchange:</label>
                            <select name="" class="form_control flex" id="brkFilterId">
                                <option value="MCX">MCX</option>
                                <option value="NSE">NSE</option>
                                <option value="MINI">MINI</option>
                               
                            </select>
                        </div>
                        <div class="flex space-bw">
                            <label for="">Brk<br>Rs 1/Lac:</label>
                            <input id="priceValueId" type="number" value="1" class="form_control">
                        </div>

                        <div style="display: flex;" >
                            <input id="brkSearchID" type="submit" value="Apply" class="form-btn mr" style="border: 1px solid white;">
                            <input id="updateBtnId" disabled onClick="updateBtnHandler(event)" type="submit" value="Update" class="cancel-btn" style="border: 1px solid white;">
                        </div>
                    </div>
                </div>    
            </div>
        </div>

        <div id="turnoverWiseID" class="trades-body user-table" style="position:absolute;right:0;">
            <table style="width: 100%;">
              <tr>
                {% comment %} <th><input id="brkCheckAllId" type="checkbox"></th> {% endcomment %}
                    <th>Exchange</th>
                    <th>Script</th>
                    <th>Turnover Wise Brk (Rs.per1/Lac)</th>
              </tr>
               
              <tbody id="brktableId">

              </tbody>
            </table>
        </div>

        <div id="symbolWiseId" class="trades-body user-table" style="position:absolute;right:0; display: none">
          <table style="width: 100%;">
            <tr>
              {% comment %} <th><input id="brkCheckAllId" type="checkbox"></th> {% endcomment %}
                  <th>Exchange</th>
                  <th>Script</th>
                  <th>Lot Size</th>
                  <th>Brk (Rs.)</th>
            </tr>
             
            <tbody id="symbolWiseTable">
              <tr>
                <td>MCX</td>
                <td>Script</td>
                <td>1000</td>
                <td>0.00</td>
              </tr>
            </tbody>
          </table>
      </div>

    </div>
</div>


<script>

    function trunOverWise() {
      $("#turnoverWiseID").css('display','block');
      $("#symbolWiseId").css('display','none')
    }
    function symbolWise() {
      $("#turnoverWiseID").css('display','none');
      $("#symbolWiseId").css('display','block')
    }


    $("#brkCheckAllId").click(function(){
        $('input:checkbox').not(this).prop('checked', this.checked);
    });

    $('#brkFilterID').click(function () {
        $(".trades-side").show();
      });

    $("#checkAll").click(function(){
      $('input:checkbox').not(this).prop('checked', this.checked);
  });
  
    $('.closeBtn').click(function () {
      $(".trades-side").hide();
      $(".trades-body").css("width", "95%");
  });
  
  $('#openFilerId').click(function () {
    $(".trades-side").show();
  });
  

  
  const miniList = [
    /ZINCMINI/,
    /SILVERM/,
    /NATGASMINI/,
    /LEADMINI/,
    /GOLDM/,
    /COPPERM/,
    /ALUMINIUM/,
    /CRUDEOILM/,
  ]

  const apiCallForAllExchange = (exchange = "") => {
    if (exchange !== "") {
        $('#updateBtnId').prop('disabled', false);
    }
    $.ajax({
      type: "GET",
      url: `${BASE_URL}/api/tradeCoin?coinType=${exchange}`,
      success: function (data) {
        console.log(data); 
        $("#brktableId").empty();
        data.response.map(item => {
            const currentExchange = miniList.find(itemFind => item.InstrumentIdentifier.match(itemFind)) ? "MINI" : item.Exchange
          $("#brktableId").append(`
            <tr>
              <td>${currentExchange}</td>
              <td>${item.InstrumentIdentifier}</td>
              <td>${ currentExchange === "MCX" ? "{{user.mcx_brk}}" : currentExchange === "NSE" ? "{{user.nse_brk}}" : "{{user.mini_brk}}" }</td>
            </tr>
          `);
        });
      },
      error: function (xhr, status, error) {
        console.error('Error:', error);
      }
    });
  }
  
  $("#brkSearchID").click(() => {
    apiCallForAllExchange($("#brkFilterId").val())
  })
  
  apiCallForAllExchange();

  const updateBtnHandler = (event) => {
      event.preventDefault();
      axios
        .post(
          `{% url 'brk' %}?id={{user.id}}`,
          {
            exchange: $("#brkFilterId").val(),
            price: $("#priceValueId").val()
          },
          { headers: { "X-CSRFToken": "{{ csrf_token }}" } }
        )
        .then((res) => {
          toastMixin.fire({
            animation:true,
            title: res.data.status,
            icon: "success",
          });
            setTimeout(() => window.location.reload(), 2000 )
        });
  };
  </script>


{% endblock newtab %}
