
    <div id="chartviewID">
        <script type="text/javascript" src="https://s3.tradingview.com/tv.js"></script>
        <div class="tradingview-widget-container" style="top:0px; left: 0px; height:60%; width:100%;">
            <div id="tradingview_99b08"></div>
         </div>
        
        <script src="" async defer></script>
        <script type="text/javascript">
            new TradingView.widget(
            {
            "autosize": true,
            "symbol": "FX:EURUSD",
            "interval": "D",
            "timezone": "exchange",
            "theme": "Light",
            "style": "0",
            "locale": "en",
            "toolbar_bg": "#f1f3f6",
            "enable_publishing": false,
            "allow_symbol_change": true,
            "container_id": "tradingview_99b08"
          }
            );
            </script>
            <style>
                #chartviewID{
                    display:none;
                }
            </style>
        </div>
