{% include "components/new-tab/user-header.html" %}
{% load static %}{% block newtab %}
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />

<div class="tab-content" id="groupsetting">
    <div class="trade-btm">
        <div class="mb-10">
            <label for="">Exchange:</label>
            <select name="" id="" style="width: 250px;" class="form-control">
                <option value="">MCX</option>
                <option value="">NSE</option>
                <option value="">MINI</option>
            </select>
            <input type="submit" value="Upd ate" class="form-btn mr" style="border: 1px solid white;">
        </div>
    </div>
    <div class="user-table col-100" style="width: 46%;">
        <table style="width: 100%;">
            <tr>
                <th></th>
                <th>Group</th>
                <th>Last Updated</th>
                <th>View</th>
                
            </tr>
            <tr>
                {% for i in group %}
                <td><input type="checkbox"></td>
                <td</td>
                <td>{{i.created_at}}</td>
                <td></  td>
                <td><span onClick="groupSettingClick()" style="padding: 1px;" class="material-symbols-outlined">
                    density_small
                    </span><img src="images/favicon-16x16.png" alt=""></td>
                {% endfor %}
            </tr>
        </table>
    </div>
</div>

<script>
    const groupSettingClick = id => {
        window.open(`script-quantity-setting`, 'NewWindow', 'width=8000,height=400');
    }
</script>

{% endblock newtab %}
