{% include "components/new-tab/user-header.html" %}
{% load static %}{% block newtab %}
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />

<div class="tab-content" id="groupsetting">
    <div class="trade-btm">
        <div class="mb-10">
            <label for="">Exchange:</label>
            <select name="" style="width: 250px;" class="form-control">
                <option value="">MCX</option>
                <option value="">NSE</option>
                <option value="">MINI</option>
            </select>
            <input type="submit" value="Update" class="form-btn mr" style="border: 1px solid white;">
        </div>
    </div>
    <div class="user-table col-100" style="width: 100%;">
        <table style="width: 40%;">
            <thead>
                <tr>
                    <th></th>
                    <th>Group</th>
                    <th>Last Updated</th>
                    <th>View</th>
                </tr>
            </thead>
            <tbody>
                {% for i in group %}
                <tr>
                    <td><input type="checkbox"></td>
                    <td>{{ i.group }}</td>
                    <td>{{ i.created_at }}</td>
                    <td style="cursor: pointer;">
                        <span onClick="groupSettingClick()" style="padding: 1px;" class="material-symbols-outlined">
                            density_small
                        </span>
                        <img src="images/favicon-16x16.png" alt="">
                    </td>
                    
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

<script>
    const groupSettingClick = () => {
        var left = (screen.width/2)-(1000/2);
        var top = (screen.height/2)-(500/2);
        window.open(`script-quantity-setting`, 'NewWindow1', `width=1000,height=500,left=${left},top=${top}`);
    }
</script>

{% endblock newtab %}
