 <style>
        *{
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }
        .flex{
            display: flex;
            flex-wrap: wrap;
        }
        .align-center{
            align-items: center;
        }
        .space-bw{
            justify-content: space-between;
        }

        .pop-up-top{
            position: fixed;
            top: 0;
            left: 0;
            background: rgba(0, 0, 0, 0.5);
            width: 100%;
            height: 100%;
            z-index: 99;
        }
        .pop-up-top-inside{
            width: 30%;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            z-index: 999;
            background: #fff;
            padding: 20px;
            border-radius: 10px;
        }
        .market-pic{
            padding: 10px 0;
            font-size: 15px;
        }
        .market-pic p i{
            margin-right: 5px;
            color: #a11616;
        }
        .col-50{
            width: 49%;
        }
        .exchange-symbol {
            padding: 15px 0;
        }
        .exchange-symbol .col-50 div{
            margin: 5px 0;
            font-weight: 500;
        }
        .exchange-symbol .col-50 select {
            padding: 5px 15px;
            outline: none;
            width: 100%;
            border: 1px solid #000;
            border-radius: 5px;
        }
        li{
            list-style: none;
        }
        .mcx-table-1 ul, .mcx-table-2 ul{
            padding: 0 20px;
        }
        .mcx-table-1 ul li{
            font-size: 15px;
            color: rgb(38, 38, 233);
            padding: 3px 0;
        }
        .mcx-table-1 {
    border-right: 2px solid #000;
}
        .mcx-table-2 ul li{
            font-size: 15px;
            color: #ec3d3d;
            padding: 3px 0;
        }
        .mcx-table-head {
          border-top: 2px solid #000;
}
        .mcx-total {
            padding: 5px 14px;
            border-bottom: 1px solid #000;
        }
        .mcx-total p{
            font-size: 15px;
        }
        .mcx-total-inner{
            margin-right: 10px;
        }
        .mcx-bottom-table ul li {
            font-size: 14px;
            padding: 5px 0;
        }
        .mcx-bottom-table{
            padding: 5px 0;
        }
    
        .mcx-ltp-inner{
            font-weight: 600;
            margin-right: 16px;
        }
        #marketpictureId{
            display:none
        }
    </style>
   <section>
    <div class="pop-up-top" id="marketpictureId">
        <div class="pop-up-top-inside">
            <div class="flex align-center space-bw market-pic">
                <p id="marketPictureHeading"></p>
                <div id="marketpicId"><i class="fa-solid fa-x"></i></div>
            </div>
            <div class="flex align-center space-bw exchange-symbol">
                <div class="col-50">
                    <div><b>Exchange</b></div>
                    <select id="cointypeExchangeId" class="symbolKey">
                    <option>Select</option>
                        {% for i in coin_type %}
                            <option>{{i}}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="col-50">
                    <div><b>Symbol</b></div>
                    <select id="selectsymbolPictureId"   class="symbol">
                        <option value="">Select</option>
                    </select>
                </div>
            </div>
            <div class="flex align-center mcx-table-head">
                <div class="flex col-50 align-center space-bw mcx-table-1">
                    <ul id="buyPriceQtyListID">
                    </ul>
                    
                     <ul id="buyPriceListID">
                    </ul>
                </div>
                <div class="flex col-50 align-center space-bw mcx-table-2">
                    <ul id="sellPriceListID">
                    </ul>
                     <ul id="sellPriceQtyListID">
                    </ul>

                </div>
            </div>
            <div class="flex align-center space-bw mcx-total">
                {% comment %} <p>283</p> {% endcomment %}
                {% comment %} <p class="mcx-total-inner">315</p> {% endcomment %}
            </div>
            <div class="flex align-center space-bw">
                <div class="col-50 flex align-center mcx-bottom-table">
                    <ul class="mcx-ltp-inner">
                        <li>LTP:</li>
                        <li>LTQ:</li>
                        <li>Net Change:</li>
                        <li>% Change:</li>
                        <li>LUT:</li>
                        <li>Volume:</li>
                        <li>ATP:</li>
                    </ul>
                    <ul>
                        <li id="lastTradePriceId"></li>
                        <li id="LastTradeQtyID"></li>
                        <li id="OpenInterestChangeID"></li>
                        <li id="PriceChangePercentageID"></li>
                        <li id="currentDateMarket"></li>
                        <li id="TotalQtyTraded"></li>
                        <li id="AverageTradedPriceID"></li>
                    </ul>
                </div>
                <div class="col-50 flex align-center mcx-bottom-table">
                    <ul class="mcx-ltp-inner">
                        <li>OPEN:</li>
                        <li>CLOSE:</li>
                        <li>HIGH:</li>
                        <li>LOW:</li>
                        <li>L. CRKT:</li>
                        <li>U. CRKT:</li>
                        <li>OI:</li>
                    </ul>
                    <ul>
                        <li id="OpenID"></li>
                        <li id="CloseID"></li>
                        <li id="HighID"></li>
                        <li id="LowID"></li>
                        <li id="LowCurrentID"></li>
                        <li id="HighCurrentID"></li>
                        <li>0.0</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
<script>
    
    $("#marketpicId").click(() =>
        $("#marketpictureId").css("display", "none")
    );


    const setDataHandler = (data) => {
        $("#marketPictureHeading").html(`<i class="fa-brands fa-opera"></i>Market Picture For (${data.Exchange} - ${data.Exchange === "NSE" ? data.InstrumentIdentifier : `${data.InstrumentIdentifier?.split("_")[1]} ${data.InstrumentIdentifier?.split("_")[2]}`})`)
        $("#lastTradePriceId").text(data.LastTradePrice);
        $("#LastTradeQtyID").text(data.LastTradeQty);
        $("#PriceChangePercentageID").text(data.PriceChangePercentage);
        $("#AverageTradedPriceID").text(data.AverageTradedPrice);
        $("#TotalQtyTraded").text(data.TotalQtyTraded);
        $("#OpenInterestChangeID").text(data.OpenInterestChange);
        $("#currentDateMarket").text(dayjs().format("DD-MM-YYYY"))

        $("#OpenID").text(data.Open);
        $("#CloseID").text(data.Close);
        $("#HighID").text(data.High);
        $("#LowID").text(data.Low);
        $("#LowCurrentID").text(data.SellPrice);
        $("#HighCurrentID").text(data.BuyPrice);

        // buy price manager....
        if (data.BuyQty !== buyPriceQty){
            buyPriceList = [...buyPriceList, {price: data.BuyPrice, qty: data.BuyQty}];
            if (buyPriceList.length > 5) {
                buyPriceList = buyPriceList.slice(-5);
            }
            buyPriceQty = data.BuyQty;
        }
        $("#buyPriceListID").empty();
        $("#buyPriceQtyListID").empty();
        buyPriceList.map(item => {
            $("#buyPriceListID").append(`<li>${item.price}</li>`);
            $("#buyPriceQtyListID").append(`<li>${item.qty}</li>`);
        })
        // ------------------------

        // sell price manager .....
        if (data.SellQty !== sellPriceQty){
            sellPriceList = [...sellPriceList, {price: data.SellPrice, qty: data.SellQty}];
            if (sellPriceList.length > 5) {
                sellPriceList = sellPriceList.slice(-5);
            }
            sellPriceQty = data.SellQty;
        }
        $("#sellPriceListID").empty();
        $("#sellPriceQtyListID").empty();
        sellPriceList.map(item => {
            $("#sellPriceListID").append(`<li>${item.price}</li>`);
            $("#sellPriceQtyListID").append(`<li>${item.qty}</li>`);
        })
        // ----------------------------
    }

    function setDefaultValueHandler () {
        const response = JSON.parse(sessionStorage.getItem("currentCoin"));
        $("#cointypeExchangeId").val(response.Exchange);
        axios.get(`${BASE_URL}/api/tradeCoin?coinType=${response.Exchange}`)
        .then(res => {
            $("#selectsymbolPictureId").empty();
            $("#selectsymbolPictureId").html("<option>Select</option>");
            res.data.response.map(item => 
                $("#selectsymbolPictureId").append(`<option value=${item.InstrumentIdentifier}>${item.InstrumentIdentifier}</option>`));
            if (response.InstrumentIdentifier) {
                $("#selectsymbolPictureId").val(response.InstrumentIdentifier);
            }
        })
        .catch(err => {
            console.log("err", err);
        });

        setTimeout(() => {
            socket.emit("getOneDataOff");
            socket.emit("getOneData", {"identifier": response.InstrumentIdentifier });
            socket.on("getOneDataSend", (data) => {
                setDataHandler(data);
            });
        }, 500)
    }

    $("#cointypeExchangeId").change((event) => {
        axios.get(`${BASE_URL}/api/tradeCoin?coinType=${event.target.value}`)
        .then(res => {
            $("#selectsymbolPictureId").empty();
            $("#selectsymbolPictureId").html("<option>Select</option>");
            res.data.response.map(item => 
                $("#selectsymbolPictureId").append(`<option value=${item.InstrumentIdentifier}>${item.InstrumentIdentifier}</option>`));
        })
        .catch(err => {
            console.log("err", err);
        });
    })

    $("#selectsymbolPictureId").change((event) => {
        socket.emit("getOneDataOff");
        socket.emit("getOneData", {"identifier": event.target.value });
        socket.on("getOneDataSend", (data) => {
            setDataHandler(data);
        });
    })
</script>