<style>
    
    .flex {
        display: flex;
    }

    .user-table {
        width: 100%;
        margin-top: 20px; 
    }
    th, td {
        font-size: 15px;
        text-align: center;
    }
    

    table {
        border-collapse: collapse;
        width: 100%;
    }

    th, td {
        border: 1px solid #dddddd;
        padding: 0px;
    }

    th {
        background-color: #8edfff;
    }

    tr:nth-child(even) {
        background-color: #f9f9f9;
    }
</style>

<div class="tab-content" id="user-list">
    <div class="flex">
        <div class="user-table new-table">
            <table style="width: 100%;">
                
                <tr>
                    <th>UserName</th>   
                    <th>ParentUser</th>   
                    <th>Exchange</th>
                    <th>Symbol</th>
                    <th>Position</th>
                    <th>Quanity</th>
                    <th>Average Rate</th>
                    <th>Position</th>
                    <th>CMP</th>
                    <th>Profit / Loss</th>
                    <th>% P/L</th>

                </tr>
               <tbody>
                   <tr>
                       <td></td>   
                       <td></td>
                       <td></td>   
                       <td></td>
                       <td></td>   
                       <td></td>
                       <td></td>   
                       <td></td>
                   </tr>
               </tbody>
            </table>
           
        </div>
    </div>

</div>


<script>
    

    
    
</script>
