<div class="script-quantity-setting" id="script-quantity">
    <div class="flex">
        <div class="script-table new-table">
            <table style="width: 100%;">
                <thead>
                    <tr>
                        <th>Username</th>
                        <th>ParentUser</th>
                        <th>Exchange</th>
                        <th>Symbol</th>   
                        <th>Position</th>
                        <th>Quantity</th>
                        <th>Average Rate</th>
                        <th>CMP</th>
                        <th>Profit / Loss</th>
                    </tr>
                </thead>
                <tbody id="quantityTableBody">
                <!-- Table body content will be dynamically populated here -->
                </tbody>
            </table>
        </div>
    </div>
</div>

<style>
    .script-table th {
        background-color: #8edfff;
        text-align: left;
    }

    .script-table tr:nth-child(even) {
        background-color: #f9f9f9;
    }

    .script-quantity-setting {
        width: 100%;
        border-collapse: collapse;
    }
</style>

{% comment %} <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.3.2/socket.io.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<script>
    BASE_URL = "http://192.168.0.72:5000"
    const baseNodeURL = BASE_URL
    const socket = io(baseNodeURL);
    const positionviewDataHandler = () => {
        $.ajax({
            type: 'GET',
            url: `{% url "position" %}`,
            headers: { "X-CSRFToken": "{{ csrf_token }}" },
            success: function (res) {
                console.log("res", res)
                if (res.response.length > 0) {
                    socket.connect();
                    socket.on("connect", () => {
                        console.log("Connected to the Socket.io server");
                    });

                    socket.emit("filterDataGet", { identifier: res.response.map(item => item.identifer) });

                    socket.on("filterDataSend", (data) => {
                        $("#totalPriceId").html(`P/L: ${updateTotalPrice(data, res.response).toFixed(2)}`);
                        $("#quantityTableBody").empty(); // Corrected the ID here
                        if (data.length > 0) {
                            data?.map(item => {
                                const current_data = res?.response?.find(findItem => findItem.identifer === item.InstrumentIdentifier)
                                const profitLossValue = profitLossHandler(current_data, item);
                                $("#quantityTableBody").append(`
                                    <tr>
                                        <td onClick="openpositionhandler()">
                                            <span style="padding: 1px;" class="material-symbols-outlined">
                                                density_small
                                            </span> 
                                        </td>
                                        <td>${item?.Exchange}</td>
                                        <td>${current_data?.coin_name}</td>
                                        <td style="color: ${current_data?.total_quantity < 0 ? 'red' : 'blue'};">${current_data?.total_quantity > 0 ? "BUY" : "SELL"}</td>
                                        <td style="color: ${current_data?.total_quantity < 0 ? 'red' : 'blue'};">${Math.abs(current_data?.total_quantity)}</td>
                                        <td>${current_data?.total_quantity > 0 ? Math.round(current_data?.avg_buy_price * 100) / 100 : Math.round(current_data?.avg_sell_price * 100) / 100}</td>
                                        <td>${current_data?.total_quantity > 0 ? item?.BuyPrice : item?.SellPrice}</td>
                                        ${profitLossValue && profitLossValue > 0 ? `<td style="color: blue">${profitLossValue}</td>` : `<td style="color: red">${Math.abs(profitLossValue)}</td>`}
                                    </tr>
                                `)
                            })
                        }
                    });

                    socket.on("disconnect", () => {
                        console.log("Disconnected from the Socket.io server");
                    });
                } else {
                    $("#quantityTableBody").empty(); // Corrected the ID here
                    socket.disconnect();
                }
            },
            error: function (err) {
                alert(err?.responseJSON.message);
            }
        })
    }
</script> {% endcomment %}
