<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title></title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="" />
  </head>
  <body>
    <div class="create-profile" id="parentLimitInfoId">
      <div class="change-pass">
        <div class="create-profile-inside-admin">
          <div class="top-body flex align-center space-bw align-center">
            <div class="flex admin-right">
              <p>Parent Limit Info</p>
            </div>

            <div>
              <i class="fa-solid fa-x adminRightClose"></i>
            </div>
          </div>
       
          <div class="row">
            <div class="column">
              <table style="display: flex;
              justify-content: center">
                <tr>
                  <th>Parent Info&nbsp;</th>
                  <th>&nbsp;Master</th>
                  <th>&nbsp;Client</th>
                </tr>
                <tr>
                    <th>Limit</th>
                    <th>1</th>
                    <th>3</th>
                </tr>
                <tr>
                    <th>Occupied</th>
                    <th>1</th>
                    <th>3</th>
                </tr>
                <tr>
                    <th>Created</th>
                    <th>1</th>
                    <th>3</th>
                </tr>
                <tr>
                    <th>Remaining</th>
                    <th>1</th>
                    <th>3</th>
                </tr>
              </table>
            </div>
          </div>

           
       
      </div>
    </div>
    <script src="" async defer></script>
    <style>
        #parentLimitInfoId{
            display:none;
        }
    </style>
    <script>
      $(".adminRightClose").click(() =>
        $("#parentLimitInfoId").css("display", "none")
      );
    </script>
  </body>
</html>
