<div class="create-profile" id="parentLimitInfoId">
  <div class="change-pass">
    <div class="create-profile-inside-admin">
      <div class="top-body flex align-center space-bw align-center">
        <div class="flex admin-right">
          <p>Parent Limit Info</p>
        </div>
        <div>
          <i class="fa-solid fa-x adminRightClose"></i>
        </div>
      </div>
      <div class="row">
        <div class="column">
          <table style="display: flex; justify-content: center">
            <tr>
              <th>Parent Info&nbsp;</th>
              <th>&nbsp;Master</th>
              <th>&nbsp;Client</th>
            </tr>
            <tr>
              <th>Limit</th>
              <th id="parentmasterlimit"></th>
              <th id="parentclientlimit"></th>
            </tr>
            <tr>
              <th>Occupied</th>
              <th id="parentmasterOccId"></th>
              <th id="parentclientOccId"></th>
            </tr>
            <tr>
              <th>Created</th>
              <th id="parentmasterCreatedId"></th>
              <th id="parentclientCreatedId"></th>
            </tr>
            <tr>
              <th>Remaining</th>
              <th id="parentmasterRemId"></th>
              <th id="parentclientRemId"></th>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>

  <style>
    #parentLimitInfoId {
      display: none;
    }
  </style>
  
  <script>
    $(document).ready(function() {
      $(".adminRightClose").click(() =>
        $("#parentLimitInfoId").css("display", "none")
      );
  
      $("#parentLimitInfoId").click(() => {
        axios
          .get(
            `{% url "account-limit" %}?user_id=${$(
              "#current_selected_userId"
            ).val()}`,
            { headers: { "X-CSRFToken": "{{ csrf_token }}" } }
          )
          .then((res) => {
            $("#parentmasterlimit").text(res.data.master_limit);
            $("#parentclientlimit").text(res.data.client_limit);
            $("#parentmasterOccId").text(res.data.master_occupied);
            $("#parentmasterRemId").text(res.data.master_remaining);
            $("#parentclientOccId").text(res.data.client_occupied);
            $("#parentclientRemId").text(res.data.client_remaining);
            $("#parentmasterCreatedId").text(res.data.master_created);
            $("#parentclientCreatedId").text(res.data.client_created);
            console.log("parentLimitInfo ==", res);
          })
          .catch((err) => {
            console.log("err", err);
          });
      });
    });
  </script>
</div>
