{% include "components/new-tab/user-header.html" %}
{% load static %}{% block newtab %}

<div class="tab-content" id="quantitysetting">
    <div class="trade-btm">
        <div class="mb-10">
            <label for="">Exchange:</label>
            <select name="" id="" style="width: 250px;" class="form-control">
                <option value="">MCX</option>
                <option value="">NSE</option>
                <option value="">MINI</option>
            </select>
            <input type="submit" value="Edit" class="form-btn mr" style="border: 1px solid white;">
        </div>
    </div>
    <div class="user-table col-100" style="width: 46%;">
        <table style="width: 100%;">
            <tr>
                <th>Script</th>
                <th>Lot Size</th>
                <th>Lot Max</th>
                <th>Breakup Lot</th>
                <th>Last Updated</th>
            </tr>

            <tbody id="quantityTableBody">
               
            </tbody>
        </table>
    </div>
</div>


<script>
    const apiCallForAllExchange = (exchange = "") => {
        $.ajax({
          type: "GET",
          url: `${BASE_URL}/api/tradeCoin?coinType=${exchange}`,
          success: function (data) {
            console.log(data); 
            $("#quantityTableBody").empty();
            data.response.map(item => {
              $("#quantityTableBody").append(`
                <tr>
                  <td>${item.InstrumentIdentifier}</td>
                  <td>Lot Size</td>
                  <td>Lot Max</td>
                  <td>Breakup Lot</td>
                  <td>Last Updated</td>
                </tr>
              `);
            });
          },
          error: function (xhr, status, error) {
            console.error('Error:', error);
          }
        });
      }

      apiCallForAllExchange();
</script>


{% endblock newtab %}
