<div class="script-quantity-setting" id="script-quantity">
    <div class="flex">
        <div class="script-table new-table">
            <table style="width: 100%;">
                <tr>
                    <th>Script</th>
                    <th>Lot Size</th>
                    <th>Qty Max</th>
                    <th>Lot Max</th>   
                    <th>Breakup Qty</th>
                    <th>Breakup Lot</th>
                </tr>
               
           {% for i in script %}
                <tr>
                    <td>{{i.script}}</td>
                    <td>{{i.lot_size}}</td>
                    <td>{{i.qty_max}}</td>
                    <td>{{i.lot_max}}</td>
                    <td>{{i.breakup_qty}}</td>
                    <td>{{i.breakup_lot}}</td>
                </tr>
            {% endfor %}
            </table>
        </div>
    </div>
</div>

<style>
.script-table th {
    background-color: #8edfff;
    text-align: left;
}

.script-table tr:nth-child(even) {
    background-color: #f9f9f9;
}


.script-quantity-setting {
    width: 100%;
    border-collapse: collapse;
}


</style>


