{% include "components/new-tab/user-header.html" %}
{% load static %}{% block newtab %}



<div class="tab-content" id="sharedetails">
    <div class="top-border">
        <div class="pl-sharing">
         <p>P & L Sharing</p>
        </div>
        <div class="flex admins-head">
            <div>
                <p>Admin</p>
                <input type="text" placeholder="0%">
            </div>
            <div>
                <p>Admin (PSP8)</p>
                <input type="text" placeholder="100%">
            </div>
            <div>
                <p>Master(KKKK20)</p>
                <input type="text" placeholder="0%">
            </div>
            <div>
                <p>Client(MANAV100)</p>
                <input type="text" placeholder="0%" >
            </div>
        </div>
        <div class="pl-sharing brk-sharing">
            <p>Brk Sharing</p>
           </div>
           <div class="flex admins-head">
               <div>
                   <p>Admin</p>
                   <input type="text" placeholder="0%">
               </div>
               <div>
                   <p>Admin (PSP8)</p>
                   <input type="text" placeholder="100%">
               </div>
               <div>
                   <p>Master(KKKK20)</p>
                   <input type="text" placeholder="0%">
               </div>
               <div>
                   <p>Client(MANAV100)</p>
                   <input type="text" placeholder="0%" >
               </div>
           </div>
       </div>
</div>

{% endblock newtab %}