{% include "components/new-tab/user-header.html" %}
{% load static %}{% block newtab %}


<div class="tab-content" id="rejectionlog">
  <div class="flex">
    <div class="trade-download">
      <div style="transform: rotate(90deg); padding-left: 10px; cursor:pointer;">
        <p id="trdeFilterId">Filter</p>
      </div>
      <span>
        <a href="{% url 'Admin:trade-csv' id %}"><i class="fa-solid fa-file-csv"></i></a>
      </span>
    </div>
    <div class="trades-side">
      <div class="trade-top">
        <div class="flex space-bw">
          <div>
            <p>Filter</p>
          </div>
          <div class="closeBtn">
            <i class="fa-solid fa-xmark"></i>
          </div>
        </div>
      </div>
      <div class="trade-btm">
        <form method="get">
          {% csrf_token %}
        <div class="flex space-bw">
          <label for="">From:</label>
          <input name="from_date" type="date" class="form_control" />
        </div>

        <div class="flex space-bw">
          <label for="">To:</label>
          <input name="to_date" type="date" class="form_control" />
        </div>
   
        <div class="flex space-bw">
            <label for="">User:</label>
            <select name="user" id="" class="form_control">
                  <option value="{{user}}">{{user}}</option>
            </select>
        </div>
        

        <div class="flex space-bw">
        <label for="">Status:</label>
        <select name="status" id="" class="form_control">
            <option value="">All</option>
                <option value="Successful">Successful</option>
                <option value="Pending">Pending</option>
                <option value="Cancelled">Cancelled</option>
        </select>
        </div>

        <div class="flex space-bw">
          <label for="">Exchange:</label>
          <select name="exchange" id="" class="form_control">
            <option value="">All Exchange</option>
            {% for i in symbol_name %}
              <option value="{{i.symbol_name}}">{{i.symbol_name}}</option>
            {% endfor %}
          </select>
        </div>
        {% comment %} <div class="flex space-bw">
          <label for="">Symbol:</label>
          <select name="symbol" id="" class="form_control">
            <option value="">Select</option>
              <option value="">NSE</option>
          </select>
        </div> {% endcomment %}
        <div>
            <label for=""></label>
            <button type="submit" value="View" class="form-btn">View</button>
            <a onClick="tradeclearRejection()" style="color:#fff !important;padding: 2px 10px; cursor:pointer;" value="Clear" class="cancel-btn">Clear</a>
        </div>
      </form>
      </div>
    </div>
    <div class="trades-body user-table">
      <div class="pos-relate">
        {% if response %}
        <table style="width: 100%;">
            <tr>
                <th>UserName</th>
                <th>Order Time</th>
                <th>Symbol</th>
                <th>Order Type</th>
                <th>Price</th>
                <th>Quantity</th>
                <th>Ip address</th>
                <th>Order Method</th>
                <th>Trade Status</th>
            </tr>
            {% for i in response %}
                <tr>
                    <td>{{i.buy_sell_user__user_name}}</td>
                    <td>{{i.created_at}}</td>
                    <td>{{i.coin_name}}</td>
                    {% if i.quantity > 0 %}
                        <td style="color: blue">{{i.action}}</td>
                        <td style="color: blue">{{i.price}}</td>
                        <td style="color: blue">{{i.quantity |stringformat:"+d"|slice:"1:"}}</td>
                    {% else %}
                        <td style="color: red">{{i.action}}</td>
                        <td style="color: red">{{i.price}}</td>
                        <td style="color: red">{{i.quantity |stringformat:"+d"|slice:"1:"}}</td>
                    {% endif %}
                    <td>{{i.ip_address}}</td>
                    <td>{{i.order_method}}</td>
                    {% if i.is_pending %}
                    <td>Pending</td>
                    {% else %}
                    <td>Complete</td>
                    {% endif %}
                </tr>
            {% endfor %}
        </table>
        {% else %}
        <div style="display: flex;justify-content: center;margin-top: 14%;">
          <p>No data found</p>
        </div>
    {% endif %}
      </div>
    </div>
  </div>
</div>

<script>
  

  $('.closeBtn').click(function () {
    $(".trades-side").hide();
    $(".trades-body").css("width", "95%");
  });

  $('#trdeFilterId').click(function () {
    $(".trades-side").show();
    $(".trades-body").css("width", "67%");
  });


  function tradeclearRejection(){
    window.location.href= window.location.href?.split("?")?.[0]
} 


  
</script>

{% endblock newtab %}
