{% include "components/new-tab/user-header.html" %}
{% load static %}{% block newtab %}

<div class="tab-content" id="quantitysetting">
    
    <div class="user-table col-100">
        <table style="width: 100%;">
            <tr>
                <th>UserName</th>
                <th>Order Time</th>
                <th>Symbol</th>
                <th>Order Type</th>
                <th>Price</th>
                <th>Price</th>
                <th>Quantity</th>
                <th>Order Method</th>
            </tr>
            <tr>
                <td>UserName</td>
                <td>Order Time</td>
                <td>Symbol</td>
                <td>Order Type</td>
                <td>Price</td>
                <td>Price</td>
                <td>Quantity</td>
                <td>Order Method</td>
            </tr>
        </table>
    </div>
</div>
{% endblock newtab %}
