{% include "components/new-tab/user-header.html" %}
{% load static %}{% block newtab %}

<div class="tab-content" id="quantitysetting">
    
    <div class="user-table col-100">
        <table style="width: 100%;">
            <tr>
                <th>UserName</th>
                <th>Order Time</th>
                <th>Symbol</th>
                <th>Order Type</th>
                <th>Price</th>
                <th>Quantity</th>
                <th>Ip address</th>
                <th>Order Method</th>
                <th>Trade Status</th>
            </tr>
            {% for i in response %}
                <tr>
                    <td>{{i.buy_sell_user__user_name}}</td>
                    <td>{{i.created_at}}</td>
                    <td>{{i.coin_name}}</td>
                    {% if i.quantity > 0 %}
                        <td style="color: blue">{{i.action}}</td>
                        <td style="color: blue">{{i.price}}</td>
                        <td style="color: blue">{{i.quantity |stringformat:"+d"|slice:"1:"}}</td>
                    {% else %}
                        <td style="color: red">{{i.action}}</td>
                        <td style="color: red">{{i.price}}</td>
                        <td style="color: red">{{i.quantity |stringformat:"+d"|slice:"1:"}}</td>
                    {% endif %}
                    <td>{{i.ip_address}}</td>
                    <td>{{i.order_method}}</td>
                    {% if i.is_pending %}
                    <td>Pending</td>
                    {% else %}
                    <td>Complete</td>
                    {% endif %}
                </tr>
            {% endfor %}
        </table>
    </div>
</div>

{% endblock newtab %}
