{% load static %}
{% include "components/new-tab/user-header.html" %}
{% block newtab %}
<link rel="stylesheet" href="{% static 'user-deatils.css' %}">

<div class="tab-content" id="users">
  <div class="flex">
    <div class="trade-download">
      <div style="transform: rotate(90deg); padding-left: 10px">
        <p>Add&nbsp;Order</p>
      </div>
    </div>
    <div class="trades-side">
      <div class="trade-top">
        <div class="flex space-bw">
          <div>
            <p>Add order</p>
          </div>
          <div class="closeBtn">
            <i class="fa-solid fa-xmark"></i>
          </div>
        </div>
      </div>
      <div class="trade-btm">
        <div class="flex space-bw">
          <label for="">User:</label>&nbsp;
          <select name="" id="" class="form_control">
            <option value="{{request.user.id}}">
              {{user.user_name}}
            </option>
          </select>
        </div>
        <div class="flex space-bw">
          <label for="exchangeSelect">Exchange Name:</label>
          <select
            required
            name="exchangeSelect"
            id="exchangeSelectId"
            class="form_control flex"
          >
            <option value="">Select</option>
            <option value="MCX">MCX</option>
            <option value="NSE">NSE</option>
            <option value="MINI">MINI</option>
          </select>
        </div>
        <div class="flex space-bw">
          <label for="">Script Name:</label>
          <select required name="" id="scriptNameId" class="form_control">
            <option value="">Select</option>
          </select>
        </div>
        <div class="flex flex-end">
          <div class="mr text-center">
            <label for="">Sell</label>
            <input
              readonly
              id="sellPriceID"
              type="text"
              class="small_width text-center"
            />
          </div>
          <div class="text-center">
            <label for="">Buy</label>
            <input
              readonly
              id="buyPriceID"
              type="text"
              class="small_width text-center"
            />
          </div>
        </div>
        <div class="flex space-bw">
          <label for="">Buy/Sell:</label>
          <select name="" id="selectActionTypeId" class="form_control">
            <option value="Sell">Sell</option>
            <option value="Buy">Buy</option>
          </select>
        </div>
        <div class="flex space-bw">
          <label for="">Order Type:</label>
          <select name="" id="" class="form_control">
            <option value="">Market</option>
          </select>
        </div>

        <div class="flex space-bw">
          <label for="">Qty</label>
          <input
            id="quantityOderId"
            min="1"
            value="1"
            type="number"
            class="form_control"
          />
        </div>
        <div class="flex space-bw">
          <label for="rateBy">Rate By:</label>
          <select id="rateBy" class="form_control">
            <option value="market">Market</option>
            <option id="manualPriceOption" value="manual">Manual Price</option>
          </select>
        </div>
        <div class="flex space-bw">
          <label for="price">Price</label>
          <input id="priceInput" type="number" class="form_control" />
        </div>
        
        <div style="display: flex">
          <input
            type="submit"
            id="submitBtnOrderId"
            value="Submit"
            class="form-btn mr"
          />
          <input type="submit" value="Clear" class="cancel-btn" />
        </div>
      </div>
    </div>
    <div class="trades-body user-table">
      <div class="pos-relate">
        <table style="width: 100%">
          <tr>
            <th>View</th>
            <th>Exchange</th>
            <th>Symbol</th>
            <th>Position</th>
            <th>Quantity</th>
            <th>Average Rate</th>
            <th>CMP</th>
            <th>Profit / Loss</th>
          </tr>

          <tbody id="positionLiveDataid">
           
          </tbody>
        </table>
      </div>
      <div class="totalPL">
        <div style="background-color: grey; width: 100%"></div>
        <table border="1">
          <tr>
            <td>PL:0.00</td>
            <td>BK:0.00</td>
            <td>BAL:0.00</td>
            <td>CRD:0</td>
            <td>EQT:10,000</td>
            <td id="totalPriceId">Total P/L:200.00</td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>

<input hidden id="currentCoinDataId"/>
</div>
<script src=" https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.0/jquery.min.js"
integrity="sha512-3gJwYpMe3QewGELv8k/BX9vcqhryRdzRMxVfq6ngyWXwo03GFEzjsUm8Q7RZcHPHksttq7/GFoxjCVUjkjvPdw=="
crossorigin="anonymous" referrerpolicy="no-referrer">
</script>

<script>


  $(document).ready(function() {
    $('#rateBy').change(function() {
      if ($(this).val() === 'market') {
        $('#priceInput').prop('disabled', true);
      } else {
        $('#priceInput').prop('disabled', false);
      }
    });

    if ($('#rateBy').val() === 'market') {
      $('#priceInput').prop('disabled', true);
    }
  });
  
  
    
    const baseNodeURL = BASE_URL
    const socket = io(baseNodeURL); 
    const dateManager = (val) => {
        return `${val?.split("_")?.[2]?.slice(0, 2)} ${val
          ?.split("_")?.[2]
          ?.slice(2, 5)} ${val?.split("_")?.[2]?.slice(7)}`;
      };

    
    const updateTotalPrice = (socketResponse, itemResult) => {
      return itemResult
        .map(item => {
          const findSocketVal = socketResponse.find(findObject =>
              findObject?.InstrumentIdentifier === item?.identifer
          );
          return (
            item?.total_quantity > 0
              ? (findSocketVal?.BuyPrice - item?.avg_price) *
                item?.total_quantity *
                findSocketVal?.QuotationLot
              : (item?.avg_price - findSocketVal?.SellPrice) *
                Math.abs(item?.total_quantity) *
                findSocketVal?.QuotationLot
          ).toFixed(2);
        })
        .reduce((partialSum, a) => Number(partialSum) + Number(a), 0);
      };

    const profitLossHandler = (item, socketResponse) => {
        return (
          item?.total_quantity > 0
            ? (socketResponse?.BuyPrice - item?.avg_price) *
              item?.total_quantity *
              socketResponse?.QuotationLot
            : (item?.avg_price - socketResponse?.SellPrice) *
              Math.abs(item?.total_quantity) *
              socketResponse?.QuotationLot
              ).toFixed(2);
    };

    $.ajax({
      type:'GET',
      url:`{% url "position" %}?type=WEB&id={{id}}`,
      headers: { "X-CSRFToken": "{{ csrf_token }}" },
      success:function(res){
        console.log("res", res)
        if (res.response.length > 0) {
          socket.on("connect", () => {
            console.log("Connected to the Socket.io server");
          });

          socket.emit("filterDataGet", {identifier: res.response.map(item => item.identifer)});

          socket.on("filterDataSend", (data) => {
            $("#totalPriceId").html(`P/L: ${updateTotalPrice(data, res.response)}`);
            $("#positionLiveDataid").empty();
            data.map(item => {
              const current_data = res.response.find(findItem => findItem.identifer === item.InstrumentIdentifier)
              const profitLossValue = profitLossHandler(current_data, item);
              $("#positionLiveDataid").append(`
                <tr>
                  <td>View</td>
                  <td>${item.Exchange}</td>
                  <td>${item.InstrumentIdentifier}</td>
                  <td style="color: ${current_data.total_quantity < 0 ? 'red' : 'blue'};">${current_data.total_quantity > 0 ? "BUY" : "SELL"}</td>
                  <td>${current_data.total_quantity > 0 ? current_data.total_quantity : -current_data.total_quantity}</td>
                  <td>${current_data.avg_price}</td>
                  <td>${current_data.total_quantity > 0 ? item.BuyPrice : item.SellPrice}</td>
                  ${profitLossValue && profitLossValue > 0 ? `<td style="color: blue">${profitLossValue}</td>` : `<td style="color: red">${profitLossValue}</td>`}
                </tr>
              `)
            })
          });

          socket.on("disconnect", () => {
              console.log("Disconnected from the Socket.io server");
          });
        }
      },
      error:function(err){
        alert(err?.responseJSON.message);
      }
    })

    $("#exchangeSelectId").change((event) => {
        $.ajax({
            type:'GET',
            url:`${baseNodeURL}/api/tradeCoin?coinType=${event.target.value}`,
            success:function(res){
                $("#scriptNameId").empty();
                $("#scriptNameId").append(`<option value="">Select</option>`);
                res?.response?.map(item => {
                    $("#scriptNameId").append(`<option value="${item?.InstrumentIdentifier}">${item?.InstrumentIdentifier}</option>`)
                })
            },
            error:function(err){
              alert(err?.responseJSON.message);
            }
        })
    })


    $("#scriptNameId").change((event) => {
        socket.on("connect", () => {
            console.log("Connected to the Socket.io server");
        });
        $("#scriptNameId").change(() => {
            socket.emit("getOneData", { "identifier": event.target.value });
            socket.on("getOneDataSend", (data) => {
                if (data?.InstrumentIdentifier === event.target.value) {
                    $("#buyPriceID").val(data.BuyPrice);
                    $("#sellPriceID").val(data.SellPrice);
                    $("#currentCoinDataId").val(JSON.stringify(data));
                }
            }); 
        });
        socket.on("disconnect", () => {
            console.log("Disconnected from the Socket.io server");
        });
    });
    

    $("#submitBtnOrderId").click(() => {
        const data = JSON.parse($("#currentCoinDataId").val());
        if (!$("#exchangeSelectId").val()) {
            $("#exchangeSelectId").css("border", "solid 1px red")
        }
        if (!$("#scriptNameId").val()) {
            $("#scriptNameId").css("border", "solid 1px red")
        } else {
            const body = {
                identifer: $("#scriptNameId").val(),
                trade_type: "MARKET",
                coin_name: data?.Exchange === "NSE"
                ? `NSE ${data?.InstrumentIdentifier}`
                : `${data?.Exchange || ""} ${
                    data?.InstrumentIdentifier?.split("_")?.[1]
                  }, ${dateManager(data?.InstrumentIdentifier) || ""}`,
                ex_change: $("#exchangeSelectId").val(),
                action: $("#selectActionTypeId").val().toUpperCase(),
                quantity: Number($("#quantityOderId").val()),
                price:  $("#selectActionTypeId").val().toUpperCase() === "SELL"
                ? Number(data.SellPrice)
                : Number(data.BuyPrice),
                is_pending: false,
                order_method: "Web",
                lot_size: Number(data.QuotationLot),
                userId: "{{id}}",
                type: "WEB"
            }

            axios.post(`{% url "buy-sell-coin" %}`, body, {headers: { "X-CSRFToken": "{{ csrf_token }}" }}).then(function (response) {
                toastMixin.fire({
                    animation: true,
                    title: response.data.message,
                    icon: "success",
                });
                setTimeout(()=>{
                    window.location.reload();
                },1000)
            }).catch(err => {
              console.log("err",err)
              toastMixin.fire({
                animation: true,
                title: err.response.data.message,
                icon: "error",
            });
            })
        }
    })
    
</script>

{% endblock newtab %}
