    <style>
     
        .buy-card{
            box-shadow: 0 0  10px #d9d9d9;
            width: 200px;
        }
        .fit-to-size li{
            list-style: none;
        }
        .fit-to-size li a{
            display: flex;
            flex-wrap: wrap;
            padding: 5px;
        }
        .fit-to-size li a{
            color: #000;
            text-decoration: none;
        }
        .fit-to-size li a p{
            margin-left: 10px;
        }
        .fit-to-size li a:hover{
            background: #d6ebf3;
        }
        #watchPopUpId{
            display:none;
        }

    </style>

    <div class="buy-card" id="watchPopUpId">
        <div class="fit-to-size">
            <li>
                <a>
                    <div>
                        <i class="fa-solid fa-money-bill"></i>
                    </div>
                    <div id="watchBuyId">
                        <p>Buy</p>
                    </div>
                </a>
            </li>
            <li>
                <a href="">
                    <div>
                        <i class="fa-solid fa-money-bill"></i>
                    </div>
                    <div>
                        <p>Sell</p>
                    </div>
                </a>
            </li>
            <li>
                <a href="">
                    <div>
                        <i class="fa-solid fa-chart-line"></i>
                    </div>
                    <div>
                        <p>View Chart</p>
                    </div>
                </a>
            </li>
            <li>
                <a href="">
                    <div>
                        <i class="fa-solid fa-expand"></i>
                    </div>
                    <div>
                        <p>Fit to Size</p>
                    </div>
                </a>
            </li>
            <li>
                <a href="">
                    <div>
                        <i class="fa-solid fa-scroll"></i>
                    </div>
                    <div>
                        <p>Script Info</p>
                    </div>
                </a>
            </li>
            <li>
                <a href="">
                    <div>
                        <i class="fa-solid fa-table-columns"></i>
                    </div>
                    <div>
                        <p>Manage Columns</p>
                    </div>
                </a>
            </li>
            <li>
                <a href="">
                    <div>
                        <i class="fa-solid fa-chart-simple"></i>
                    </div>
                    <div>
                        <p>Market Picture</p>
                    </div>
                </a>
            </li>
        </div>
    </div>
