{% load static %}
<!DOCTYPE html>
<html lang="en">
    
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Trading</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
  integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
  crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" href="{% static 'user-deatils.css' %}">
  <script src="https://cdn.socket.io/4.7.2/socket.io.min.js" /></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.2.1/axios.min.js"></script>

   <!-- CDN for toast message -->
  <script
  src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
  integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
  crossorigin="anonymous"
  ></script>
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10.10.1/dist/sweetalert2.all.min.js"></script>
  <link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/sweetalert2@10.10.1/dist/sweetalert2.min.css"
/>

</head>


<body>
<style>
  anchorTAG.{
   
  }
</style>


  {% if messages %} {% for message in messages %}
    {% if message.tags == "alert-success" %}
    <p id="idd1" hidden>{{ message }}</p>
    {% elif message.tags == "alert-danger" %}
    <p id="idd2" hidden>{{ message }}</p>
    {% elif message.tags == "alert-warning" %}
    <p id="idd3" hidden>{{ message }}</p>
    {% elif message.tags == "alert-info" %}
    <p id="idd4" hidden>{{ message }}</p>
    {% endif %} {% endfor %} {% endif %} 

    <div class="tab-head">
      <li class="open-file-menu" data-id="users" class="open-menu"><a id="userDetailsLink" style=" text-decoration: none; color: #000;" >Position</a></li>
      <li data-id="trades1"><a style=" text-decoration: none;color: #000;" id="tabTradeLink">Trades</a></li>
      <li data-id="scriptmaster" class="open-menu"><a style=" text-decoration: none; color: #000;" id="scriptMasterLink">Script Master</a></li>
      {% if request.user.user_type == "Admin" or "SuperAdmin" %}
      <li data-id="groupsetting" class="open-view-menu"><a style=" text-decoration: none;color: #000;" href="{% url 'Admin:group-setting' %}">Group Setting</a></li>
      {% endif %}
      
      <li data-id="quantitysetting" class="open-report-menu"><a style=" text-decoration: none;color: #000;" id="quantitySettingID">Quantity Setting</a></li>
      {% if request.user.user_type == "Admin" %}
      <li data-id="brk"><a id="brkId" style=" text-decoration: none;color: #000;">Brk</a></li>
      {% endif %} 
      <li data-id="trademargin"><a style=" text-decoration: none;color: #000;" href="{% url 'Admin:trade-margin' %}">Trade Margin</a></li>
      <li data-id="credit"><a style=" text-decoration: none;color: #000;" id="creditId">Credit</a></li>
      <li data-id="accountsummary"><a style=" text-decoration: none;color: #000;" id="accountSummaryID">Account Summary</a></li>
      <li data-id="settlement"><a style=" text-decoration: none;color: #000;" id="settlementID">Settlement</a></li>
      <li data-id="rejectionlog"><a style=" text-decoration: none;color: #000;" id="rejectionLogId">Rejection Log</a></li>
      {% comment %} <li data-id="sharedetails"><a style=" text-decoration: none;color: #000;" href="{% url 'Admin:share-deatils' %}">Share Details</a></li> {% endcomment %}
      <li data-id="userinfo"><a style=" text-decoration: none; color: #000;" id="userInfoId">User Info</a></li>
  </div>

</body>

<script src=" https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.0/jquery.min.js"
        integrity="sha512-3gJwYpMe3QewGELv8k/BX9vcqhryRdzRMxVfq6ngyWXwo03GFEzjsUm8Q7RZcHPHksttq7/GFoxjCVUjkjvPdw=="
        crossorigin="anonymous" referrerpolicy="no-referrer">
        </script>

    <script>
      
    const BASE_URL = "http://52.66.205.199:5000";


      document.addEventListener('DOMContentLoaded', function() {
        const id = localStorage.getItem("currentUserID");
        if (id && userDetailsLink) {
            const currentHref = userDetailsLink.getAttribute('href');
            $("#userDetailsLink").attr('href', `${window.origin}/user-deatils-by-id/${id}`);
            $("#tabTradeLink").attr('href', `${window.origin}/tab-trade/${id}`);
            $("#scriptMasterLink").attr('href', `${window.origin}/user-script/${id}`);
            $("#quantitySettingID").attr('href', `${window.origin}/quantity-setting/${id}`);
            $("#accountSummaryID").attr('href', `${window.origin}/tab-account-summary/${id}`);
            $("#rejectionLogId").attr('href', `${window.origin}/rejection-log/${id}`);
            $("#brkId").attr('href', `${window.origin}/brk/${id}`);
            $("#userInfoId").attr('href', `${window.origin}/user-info/${id}`);
            $("#settlementID").attr('href', `${window.origin}/tab-settlement/${id}`);
            $("#creditId").attr('href', `${window.origin}/credit/${id}`);
        }
    });
    
            var toastMixin = Swal.mixin({
              toast: true,
              title: "General Title",
              animation: false,
              position: "top-right",
              showConfirmButton: false,
              timer: 3000,
              timerProgressBar: true,
              didOpen: (toast) => {
                toast.addEventListener("mouseenter", Swal.stopTimer);
                toast.addEventListener("mouseleave", Swal.resumeTimer);
              },
            });
            var x = $("#idd1").text();
            if (x !== "") {
              toastMixin.fire({
                animation: true,
                title: x,
                icon: "success",
              });
            }
            var x = $("#idd2").text();
            if (x !== "") {
              toastMixin.fire({
                animation: true,
                title: x,
                icon: "error",
              });
            }
        
            var x = $("#idd3").text();
            if (x !== "") {
              toastMixin.fire({
                animation: true,
                title: x,
                icon: "warning",
              });
            }
        
            var x = $("#idd4").text();
            if (x !== "") {
              toastMixin.fire({
                animation: true,
                title: x,
                icon: "info",
              });
            }

          $(document).ready(function() {
            var currentLocation = window.location.href;
            $('.tab-head li a').each(function() {
              var link = $(this).attr('href');
              if (currentLocation.indexOf(link) !== -1) {
                $(this).addClass('active');
                $(this).closest('li').addClass('active');
              }
            });
          });
        
    </script>

</html>