{% extends "index.html" %} {% block content %}
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>FullCalendar Example</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- jQuery UI CSS -->
  <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/themes/smoothness/jquery-ui.css">

  <!-- FullCalendar CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/2.3.1/fullcalendar.css">

  <!-- jQuery and jQuery UI JS -->
  <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.3/jquery-ui.min.js"></script>

  <!-- Moment.js -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.3/moment.min.js"></script>

  <!-- FullCalendar JS -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/2.3.1/fullcalendar.js"></script>

    <style>
        #calendar {
            width:800px;
            {% comment %} max-width: 600px; {% endcomment %}
            margin: 40px auto;
            padding: 0 10px;
        }

        {% comment %} .fc-sat,
.fc-sun {
  &.fc-day {
    background-color: red !important;
  }
} {% endcomment %}
    </style>
</head>
<body>

<div class="trade-btm">
    <div class="mb-10">
        <label for="">Exchange:</label>
        <select name="" id="selectedExId" onchange="updateCalendar()" style="width: 250px;" class="form-control">
            <option value="MCX">MCX</option>
            <option value="NSE">NSE</option>
            <option value="MINI">MINI</option>
        </select>
    </div>
</div>

<div id="calendar"></div>

<script>
    
    $("#calendar").fullCalendar({
        events:[{
            title:"Close",
            dow:[0,6]
        },{
            title:"Open",
            dow:[1,2,3,4,5],
         
        }],
    });

    
</script>

</body>
</html>
{% endblock content %}
