<div class="tab-content" id="changepass">
  <div class="change-pass">
    <div class="pass-body">
      <div class="pass-top flex align-center space-bw">
        <div>
          <p>Change Password</p>
        </div>
        <div>
          <i class="fa-solid fa-xmark" id="changePasswordClose"></i>
        </div>
      </div>
      <div class="pass-inputs">
        <form method="post">
          {% csrf_token %}
          <div>
            <label for="">Username:</label>
            <input
              id="user_name_id"
              name="user_name"
              type="text"
              required
              disabled
              value="{{request.user.user_name}}"
            />
          </div>
          <div>
            <label for="">New Password:</label>
            <input
              id="new_password_id"
              name="new_password"
              type="password"
              required
            />
          </div>
          <div>
            <label for="">Confirm Password:</label>
            <input
              id="confirm_password_id"
              name="confirm_password"
              type="password"
              required
            />
          </div>
          <div>
            <button
              onClick="changePasswordHandler(event)"
              type="submit"
              class="save-btn"
            >
              Save
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<style>
  #changepass {
    display: none;
  }
  .change-pass {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
  }

  .pass-body {
    background: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
  }

  .pass-top {
    background: #ececec;
    padding: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }

  .pass-inputs {
    padding: 15px;
  }

  .pass-inputs div {
    margin-bottom: 10px;
  }

  .pass-inputs div:last-of-type {
    margin-bottom: 0;
  }

  .pass-body input {
    width: 100%;
    padding: 5px;
    font-size: 14px;
    outline: none;
  }

  .save-btn {
    background: green;
    outline: none;
    border: none;
    color: #fff;
    width: 100%;
    padding: 5px;
    font-size: 14px;
  }

  .pass-top i {
    cursor: pointer;
  }
</style>

<script>
  $("#changePasswordClose").click(() =>
    $("#changepass").css("display", "none")
  );

  const changePasswordHandler = (event) => {
    if (
      $("#user_name_id").val() !== "" &&
      $("#confirm_password_id").val() !== "" &&
      $("#new_password_id").val() !== ""
    ) {
      event.preventDefault();
      $.ajax({
        type: "POST",
        url: '{% url "change-passwordweb-api" %}',
        headers: { "X-CSRFToken": "{{ csrf_token }}" },
        data: {
          user_name: $("#user_name_id").val(),
          new_password: $("#new_password_id").val(),
          confirm_password: $("#confirm_password_id").val(),
        },
        success: function (data) {
          $("#changepass").css("display", "none");
          $("#user_name_id").val("");
          $("#new_password_id").val("");
          $("#confirm_password_id").val("");
          toastMixin.fire({
            animation: true,
            title: data.message,
            icon: "success",
          });
        },
        error: function (error) {
          toastMixin.fire({
            animation: true,
            title: error.responseJSON.message,
            icon: "error",
          });
        },
      });
    }
  };
</script>
