{% extends "index.html" %} {% block content %}
<form id="userForm" method="post">
  {% csrf_token %}
  <div class="tab-content" id="create-user">
    <div class="create-account">
     <div>
        {% if request.user.user_type == "Admin" or request.user.user_type == "SuperAdmin" %}
          <div class="flex">
            <div class="mr"><input id="otherUserFlagId" name="accountUser" type="checkbox" />&nbsp Create Account for User</div>
            <div>
              {% if request.user.user_type == "SuperAdmin" %}
              <select name="selectedAdminName" disabled id="selectedAdminId">
                <option value="">Select Admin</option>
              </select>
              {% endif %}

              <select name="selectedMasterName" disabled id="selectedMasterId">
                <option  value="">Select Master</option>
              </select>
            </div>
          </div>
        {% endif %}
      </div>
      <div class="user-details">
        <h3>User Details</h3>
        <div class="create-form flex space-bw">
          <div class="col-25">
            <label for="">Name*</label>
            <input id="nameId" type="text" name="full_name" class="form-group"/>
          </div>
          <div class="col-25">
            <label for="">Username*</label>
            <input oninput="validateInput()" id="userNameId" type="text" name="user_name" class="form-group"/>
          </div>
          <div class="col-25">
            <label for="">Password*</label>
            <input id="password" type="password" name="password" class="form-group"/>
          </div>
          <div class="col-25">
            <label for=""> Retype Password*</label>
            <input id="retype_password" type="password" name="retype_password" class="form-group"/>
          </div>
          <div class="col-25">
            <label for="">Mobile Number</label>
            <input type="number" name="phone_number" class="form-group" />
          </div>
          <div class="col-25">
            <label for="">City</label>
            <input type="text" name="city" class="form-group" />
          </div>
          <div class="col-25">
            <label for="">Credit*</label>
            <input id="creditId" type="number" name="credit" class="form-group" />
          </div>
          <div class="col-25">
            <label for="">Remark</label>
            <input type="text" name="remark" class="form-group" />
          </div>
        </div>
      </div>
      <div class="loaderdiv" id="loader"  style="display: none;">
        <spans class="loader"></span>
      </div>
     
      <div class="exchange-table">
        <div>
          <h3>Exchange</h3>
          <div>
            <table border="1" style="text-align: center; border-collapse: collapse; width: 100%">
              <tr>
                <td><input id="masterCheckboxId" type="checkbox" /></td>
                <th>Exchange</th>
                <th>Turnover</th>
                <th>Symbol</th>
              </tr>
              {% if request.user.user_type == "Admin" and request.user.mcx or request.user.user_type != "Admin" %}
              <tr>
                <td><input id="mcx_exchangeId" name="mcx_exchange" type="checkbox" class="individualCheckbox" /></td>
                <td>MCX</td>
                <td><input id="mcx_turnoverId" name="mcx_turnover" type="checkbox" class="mcxCheckbox" /></td>
                <td><input id="mcx_symbolId" name="mcx_symbol" type="checkbox" class="mcxCheckbox" /></td>
              </tr>
              {% endif %}
              {% if request.user.user_type == "Admin" and request.user.nse or request.user.user_type != "Admin" %}
              <tr>
                <td><input id="nse_exchangeId" name="nse_exchange" type="checkbox" class="individualCheckbox" /></td>
                <td>NSE</td>
                <td><input id="nse_turnoverID" name="nse_turnover" type="checkbox" class="nseCheckbox" /></td>
                <td><input id="nse_symbolId" name="nse_symbol" type="checkbox" class="nseCheckbox" /></td>
              </tr>
              {% endif %}
              {% if request.user.user_type == "Admin" and request.user.mini or request.user.user_type != "Admin" %}
              <tr>
                <td><input id="mini_exchangeId" name="mini_exchange" type="checkbox" class="individualCheckbox" /></td>
                <td>MINI</td>
                <td><input id="mini_turnoverId" name="mini_turnover" type="checkbox" class="miniCheckbox" /></td>
                <td><input id="mini_symbolId" name="mini_symbol" type="checkbox" class="miniCheckbox" /></td>
              </tr>
              {% endif %}
            </table>
          </div>
        </div>
      </div>
      <div class="toggle-switches">
        <h4>High low between limit</h4>
        <div class="flex">
          {% if request.user.user_type == "Admin" and request.user.mcx or request.user.user_type != "Admin" %}
          <div class="col-30 flex align-center">
            <label class="switch">
              <input id="highLowMCXId" name="mcx" type="checkbox" />
              <span class="slider round"></span>
            </label>
            <p>MCX &nbsp&nbsp</p>
          </div>
          {% endif %}
          {% if request.user.user_type == "Admin" and request.user.nse or request.user.user_type != "Admin" %}
          <div class="col-30 flex align-center">
            <label class="switch">
              <input id="highLowNSEId" name="nse" type="checkbox" id="nseID" />
              <span class="slider round"></span>
            </label>
            <p>NSE &nbsp&nbsp</p>
          </div>
          {% endif %}
          {% if request.user.user_type == "Admin" and request.user.mini or request.user.user_type != "Admin" %}
          <div class="col-30 flex align-center">
            <label class="switch">
              <input id="higtLowMINIId" name="mini" type="checkbox" />
              <span class="slider round"></span>
            </label>
            <p>MINI</p>
          </div>
          {% endif %}
        </div>  
      </div>
      <div class="flex">
        <div class="mr">
          <input type="checkbox" name="change_password" class="mr-5" />Change Password
        </div>
        <div class="flex" id="addMasterTagId" style="display:none;">
          <label class="switch">
            <input name="add_master" type="checkbox" id="addMasterCheckId"/>
            <span class="slider round"></span>
          </label>
          <p>Add Master</p>
        </div>
        <div class="flex" id="" style="">
          <p>&nbsp Auto Square off &nbsp</p>
          <label class="switch">
            <input name="auto_square" type="checkbox"/>
            <span class="slider round"></span>
          </label>
        </div>
      </div>
      <div class="view-cancel flex space-bw" style="margin-top:12px">
        <div class="col-49">
          <button  type="submit"  class="save-btn" onclick="showLoader()"/>Save</button>
        </div>
        <div class="col-49">
          <button type="button" onclick="history.back()" style="height: 34px;" class="cancel-btn">Cancel<button/>
        </div>
      </div>
    </div>
  </div>
</form>

<style>
  .loaderdiv{
      position: fixed;
      width: 100%;
      height: 100%;
      background: rgba(0,0,0,0.5);
      top: 0;
      left: 0;
      z-index: 99;
  }
  .loader{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 999;
    width: 48px;
    height: 48px;
    border: 5px solid #fff;
    border-bottom-color: transparent;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
  }

    @keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
    } 

  .top-user {
    background-color: #72c3ff;
    padding: 8px 10px;
    font-weight: bold;
    font-size: 20px;
}

.exchange-table table tr td select {
    border: none;
    outline: none;
}

.create-account {
    padding: 10px;
    background: #ececec;
}

.create-form .form-group {
    width: 100%;
}

.exchange-table tr th,
.exchange-table tr td {
    padding: 5px;
}

.toggle-switches h4 {
    font-weight: 700;
    margin-bottom: 15px;
}

.toggle-switches,
.change-pass-page {
    margin-bottom: 15px;
}

.switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 24px;
    margin-right: 10px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 15px;
    width: 15px;
    left: 4px;
    bottom: 5px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: #2196F3;
}

input:focus+.slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

.save-btn,
.cancel-btn {
    background: green;
    width: 100%;
    outline: none;
    border: none;
    font-size: 16px;
    color: #fff;
}

.cancel-btn {
    background: #646464;
}
</style>


<script>

function validateInput() {
  var userNameInput = document.getElementById("userNameId");
  userNameInput.value = userNameInput.value.replace(/\s/g, ''); // Remove whitespace
}

  function showLoader() {
    document.getElementById('loader').style.display = 'block';
  }
  document.getElementById('userForm').addEventListener('submit', function(event) {
    const password = document.getElementById('password').value;
    const confirmPassword = document.getElementById('retype_password').value;
    const nameid = document.getElementById('nameId').value;
    const userNameId = document.getElementById('userNameId').value;
    const creditId = document.getElementById('creditId').value;
    if (nameid === ""){
      alert("Please enter the Name");
      document.getElementById('loader').style.display = 'none'; 
      return;
    }
    if (userNameId === ""){
      alert("Please enter the UserName");
      document.getElementById('loader').style.display = 'none'; 
      return;
    }

    if (password === ""){
      alert("Please enter the Password");
      document.getElementById('loader').style.display = 'none'; 
      return;
    }

    if (confirmPassword === ""){
      alert("Please enter the Confirm Password");
      document.getElementById('loader').style.display = 'none'; 
      return;
    }
    if (creditId === ""){
      alert("Please enter the Credit");
      document.getElementById('loader').style.display = 'none'; 
      return;
    }
    if (password.length < 6 || confirmPassword.length < 6) {
      event.preventDefault(); // Prevent form submission
      alert('Password should be at least 6 characters long.');
      document.getElementById('loader').style.display = 'none'; 
      return;
    }

    if (password !== confirmPassword) {
      event.preventDefault(); // Prevent form submission
      alert('Password & Retype Password do not match.');
      document.getElementById('password').style.border = '1px solid red';
      document.getElementById('retype_password').style.border = '1px solid red';
      document.getElementById('loader').style.display = 'none'; // Hide loader on error
      return;
    }
  });
  


    document.getElementById('userForm').addEventListener('submit', function(event) {
      const password = document.getElementById('password').value;
      const confirmPassword = document.getElementById('retype_password').value;
  
      // Minimum password length check
      if (password.length < 6 || confirmPassword.length < 6) {
        event.preventDefault(); // Prevent form submission
        alert('Password should be at least 6 characters long.');
        return;
      }
  
      // Check if passwords match
      if (password !== confirmPassword) {
        event.preventDefault(); // Prevent form submission
        alert('Password & Retype Password do not match.');
        // Highlight the input fields with red border for visual indication
        document.getElementById('password').style.border = '1px solid red';
        document.getElementById('retype_password').style.border = '1px solid red';
        return;
      }
    });


const checkAdmin = `{{request.user.user_name}}`;
console.log("-=-=-=-=->",checkAdmin)


  $("#otherUserFlagId").change(() => $("#otherUserFlagId").prop("checked") &&   $("#selectedAdminId").prop("required", true) )

  const masterDisableHandler = () => {
      if ($("#selectedAdminId").val()) {
        $("#selectedMasterId").prop("disabled", false);
        $.ajax({
          type: "GET",
          url: '{% url "get-master-api" %}',
          headers: { "X-CSRFToken": "{{ csrf_token }}" },
          data: {
            adminId:  $("#selectedAdminId").val()
          },
          success: function (res) {
            $("#selectedMasterId").empty();
            $("#selectedMasterId").append(`<option value="">Select Master</option>`);
            res.response.map(adminItem => {
              $("#selectedMasterId").append(`<option value="${adminItem.master_user__id}">${adminItem.master_user__user_name}</option>`)
            })
          },
        });
      } else {
        $("#selectedMasterId").prop("disabled", true);
        $("#selectedMasterId").val("");
      }
  }

  const adminMasterList = () => {
      $.ajax({
        type: "GET",
        url: '{% url "get-master-api" %}',
        headers: { "X-CSRFToken": "{{ csrf_token }}" },
        data: {
          adminId:  "{{request.user.id}}"
        },
        success: function (res) {
          $("#selectedMasterId").empty();
          $("#selectedMasterId").append(`<option value="">Select Master</option>`);
          res.response.map(adminItem => {
            $("#selectedMasterId").append(`<option value="${adminItem.master_user__id}">${adminItem.master_user__user_name}</option>`)
          })
        },
      })
    }

  const currentUserType = "{{request.user.user_type}}"
  if (currentUserType !== "SuperAdmin") {
    $("#addMasterTagId").css("display", "flex")
  }


  $("#otherUserFlagId").click(() => {
    if ($("#otherUserFlagId").prop("checked")) {
      if (currentUserType === "SuperAdmin") {
        $("#selectedAdminId").prop("disabled", false);
        $("#addMasterTagId").css("display", "flex");
      } else if (currentUserType === "Admin") {
        $("#selectedMasterId").prop("disabled", false);
        adminMasterList();
      }
    } else {
      if (currentUserType === "SuperAdmin") {
        $("#selectedAdminId").val("");
        masterDisableHandler();
        $("#selectedAdminId").prop("disabled", true);
        $("#selectedAdminId").val("");
        $("#addMasterTagId").css("display", "none");
        $("#addMasterCheckId").prop("checked", false);
      }else if (currentUserType === "Admin") {
        $("#selectedMasterId").prop("disabled", true);
      }
    }
  })

  $.ajax({
    type: "GET",
    url: '{% url "get-admin-api" %}',
    headers: { "X-CSRFToken": "{{ csrf_token }}" },
    success: function (data) {
      data.response.map(adminItem => {
        $("#selectedAdminId").append(`<option value="${adminItem.id}">${adminItem.user_name}</option>`)
      })
    },
  });

  $("#selectedAdminId").change(masterDisableHandler)



  
// multiple checkbox select 

$('#masterCheckboxId').change(function() {
  if ($(this).is(":checked")) {
      $('.individualCheckbox').prop("checked", true);
      $('#mcx_turnoverId, #mcx_symbolId, #highLowMCXId, #nse_turnoverID , #nse_symbolId , #highLowNSEId, #mini_turnoverId , #mini_symbolId , #higtLowMINIId').prop("disabled", false);
    } else {
      $('.individualCheckbox , .mcxCheckbox, .nseCheckbox, .miniCheckbox').prop("checked", false);
      $('#mcx_turnoverId, #mcx_symbolId, #highLowMCXId, #nse_turnoverID , #nse_symbolId , #highLowNSEId, #mini_turnoverId , #mini_symbolId , #higtLowMINIId').prop("disabled", true);
    }
  });
  // ===================================
  
  
  // mcx checkbox
  $(document).ready(function() {
    $('#mcx_exchangeId').change(function() {
        var isChecked = $(this).is(":checked");
        $('#mcx_turnoverId, #mcx_symbolId, #highLowMCXId')
            .prop("checked", isChecked)
            .prop("disabled", !isChecked);
    });
    $('#mcx_exchangeId').change();
  });
  // ===================================
  
  
  // nse checkbox
  $(document).ready(function(){
    $('#nse_exchangeId').change(function(){
      var isChecked = $(this).is(":checked");
      $('#nse_turnoverID , #nse_symbolId , #highLowNSEId')
      .prop("checked", isChecked)
      .prop("disabled", !isChecked);
    });
    $('#nse_exchangeId').change();
  });
  // ===================================
  
  
  // mini checkbox
  $(document).ready(function(){
    $('#mini_exchangeId').change(function(){
      var isChecked = $(this).is(":checked");
      $('#mini_turnoverId , #mini_symbolId , #higtLowMINIId')
      .prop("checked", isChecked)
      .prop("disabled", !isChecked);
    });
    $('#mini_exchangeId').change();
  });
  // ===================================



</script>
{% endblock content %}
