{% extends "index.html" %} {% block content %}
<style>
    
  
    .new-table {
        width: calc(100% - 240px);
    }
    
        .switch {
          position: relative;
          display: inline-block;
          display: inline-block;
          width: 42px;
          height: 20px;
          top: 2px;
        }
        
        .switch input { 
          opacity: 0;
          width: 0;
          height: 0;
          box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
        }
        
        .slider {
          position: absolute;
          cursor: pointer;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          background-color: #ccc;
          -webkit-transition: .4s;
          transition: .4s;
        }
        
        .slider:before {
          position: absolute;
          content: "";
          height: 20px;
          width: 20px;
          left: 0px;
          bottom: 0px;
          background-color: white;
          -webkit-transition: .4s;
          transition: .4s;
        }
        
        input:checked + .slider {
          background-color: #2196F3;
        }
        
        input:focus + .slider {
          box-shadow: 0 0 1px #2196F3;
        }
        
        input:checked + .slider:before {
          -webkit-transform: translateX(21px);
          -ms-transform: translateX(21px);
          transform: translateX(21px);
        }
        
        /* Rounded sliders */
        .slider.round {
          border-radius: 34px;
        }
        
        .slider.round:before {
          border-radius: 50%;
        }
        .pos-relate{
            position: relative;
        }
        .dropdown_action{
            cursor: pointer;
        }
        .action_dropdown {
            position: absolute;
            background: #fff;
            z-index: 99;
            top: 47px;
            left: 49px;
            width: 200px;
            box-shadow: 0px 0px 5px #d9d9d9;
            display: none;
            text-align: center;
            border: solid;
            border-width: 1px;
        }
        .action_dropdown li{
            display:block;
            cursor: pointer;

        }
        .action_dropdown li:hover{
            background: skyblue;
            border-radius: 5px;
        }
        .popupClass{
            position:absolute;
        }
        .user-cell:hover{
            cursor: pointer;
            color: blue;
        }
</style>

<div class="tab-content" id="user-list">
    <div class="flex">
        <div class="trade-download">
            <div style="transform: rotate(90deg);padding-left: 10px; cursor:pointer;">
                <p id="listUserFilterId">Filter</p>
            </div>
            <span>
                <a href="{% url 'Admin:download-csv' %}"><i class="fa-solid fa-file-csv"></i></a>
            </span>
        </div>
        <div class="trades-side" style="width: 200px">
            <div class="trade-top">
                <div class="flex space-bw">
                    <div>
                        <p>Filter</p>
                    </div>
                    <div class="closeBtn">
                        <i class="fa-solid fa-xmark"></i>
                    </div>
                </div>
            </div>
            <form method="get">
                {% csrf_token %}
                <div class="trade-btm">
                    <div>
                        <label for="">Filter Type:</label>
                        <select name="user_name">
                            <option value="">All</option>
                            {% for i in user_list  %}
                                <option value="{{ i }}">{{ i }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div>
                        <label for="">User Type:</label>
                        <select name="user_type" >
                            <option value="">All</option>
                            <option value="Client">Client</option>
                            <option value="Master">Master</option>
                        </select>
                    </div>
                    <div>
                    <label for="coin_name">User Status:</label>
                    <select name="user_status" >
                        <option value="">All</option>
                        <option value="Active">Active</option>
                        <option value="In Active">In Active</option>
                    </select>

                    </div>
                    <div>
                        <label for=""></label>
                        <button type="submit" class="form-btn">Search</button>
                        <a style="color:#fff !important; padding: 2px;" href="{% url 'Admin:list-user' %}" value="Clear" class="cancel-btn">Clear</a>
                    </div>
                </div>
            </form>
        </div>
        <div class="user-table new-table">
            {% if client %}
            <table style="width: 100%;">
                
                <tr>
                    <th>Edit</th>
                    <th>Action</th>
                    <th>Username</th>
                    <th>Name</th>   
                    <th>Type</th>
                    <th>Parent</th>
                    <th>Credit</th>
                    <th>Balance</th>
                    <th>Sharing%</th>
                    <th>Bet</th>
                    <th>Close Only</th>
                    <th>Margin Sq..</th>
                    <th>Status</th>
                    <th>Created Date</th>
                    <th>Ip Address</th>
                    <th>Last Login</th>
                </tr>
                <div class="pos-relate">
                    <ul class="action_dropdown" id="actionDropDown">
                        <li><a onClick="changePasswordOpen()">Change Password</a></li>
                        {% comment %} <li><a href="#">Share Details</a></li> {% endcomment %}
                        <li><a id="accountLimitId" onClick="accountLimit()">Account Limit</a></li>
                        {% if request.user.user_type == "Admin" or request.user.user_type == "SuperAdmin" %}
                            <li><a onClick="adminRights()" id="adminRightuserId">Admin Rights</a></li>
                        {% else %}
                        <li><a onClick="adminRights()" id="adminRightuserId">Master Rights</a></li>
                        {% endif %}
                        <li><a onClick="tradeRights()" id="marketTradeRightBtnId">Market Trade Right</a></li>
                        <li><a onClick="intradaySquare()" id="intradaySquareBtnId">Indraday Square Off</a></li>
                    </ul>
                </div>
           {% for i in client %}
                <tr>
                    <td>
                        <ul>
                            <li>
                                <a href="{% url 'Admin:edit-user' i.id %}">
                                    <i class="fa-solid fa-pen"></i>
                                </a>
                            </li>
                        </ul>
                    </td>
                    <td class="pos-relate"> 
                        <ul class="dropdown_action">
                            <li>
                                <i class="fa-solid fa-ellipsis" onClick="clickActionBtn(event)" data-hidden-value="{{i.user_name}}__abc__{{i.id}}"></i>  
                            </li>
                        </ul>
                    </td>
                    <td style="text-decoration: underline;" class="user-cell" onClick='particularUserView("{{i.id}}")'>{{i.user_name}}</td>
                    <td>{{i.full_name}}</td>
                    <td>{{i.user_type}}</td>
                    <td>{{i.parent}}</td>
                    <td>{{i.credit}}</td>
                    <td>{{i.balance}}</td>
                    <td>00.0</td>
                    {% if i.user_type == "Master" or i.user_type == "Client" %}
                    <td>
                        <label class="switch">
                            <input onClick="callToggleApi('{{i.id}}', `bet`)" type="checkbox" {% if i.bet %} checked {% endif %}>
                            <span class="slider round"></span>
                        </label>
                    </td>
                    <td>
                        <label class="switch">
                            <input onClick="callToggleApi('{{i.id}}', `close_only`)" type="checkbox" {% if i.close_only %} checked {% endif %}>
                            <span class="slider round"></span>
                        </label>
                    </td>
                    <td>
                        <label class="switch">
                            <input onClick="callToggleApi('{{i.id}}', `margin_sq`)" type="checkbox" {% if i.margin_sq %} checked {% endif %}>
                            <span class="slider round"></span>
                        </label>
                    </td>
                    <td>
                        <label class="switch">
                            <input onClick="callToggleApi('{{i.id}}', `status`)" type="checkbox" {% if i.status %} checked {% endif %}>
                            <span class="slider round"></span>
                        </label>
                    </td>
                    {% else %}
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    {% endif %}
                    <td>{{i.created_at}}</td>
                        <td>{{ i.user_history.first.ip_address }}</td>
                    {% if i.last_login != None %}  
                        <td>{{i.last_login }}</td>
                    {% else %}
                        <td></td>
                    {% endif %}
                </tr>
                {% endfor %}
            </table>
            {% else %}
            <div style="display: flex;justify-content: center;margin-top: 14%;">
              <p>No data found</p>
            </div>
        {% endif %}
        </div>
    </div>

    {% comment %} seleted user id {% endcomment %}
    <input hidden id="current_selected_userId"/>
</div>


<script>

    $('.closeBtn').click(function () {
        $(".trades-side").hide();
        $(".trades-body").css("width", "100%");
    });
    
    $('#listUserFilterId').click(function () {
      $(".trades-side").show();
      $(".trades-body").css("width", "69%");
    });
    


    $(document).on("click", function(event){
        var $trigger = $(".pos-relate");
        if($trigger !== event.target && !$trigger.has(event.target).length){
            $(".action_dropdown").hide();
        }
    });
 
    $('.dropdown_action').click(function(){
        $('.action_dropdown').toggle();
    })

    const clickActionBtn = (event) => {
        const result = event.target.dataset.hiddenValue?.split("__abc__");
        $("#user_name_id").val(result[0]);
        $("#current_selected_userId").val(result[result.length - 1]);
    }

    const callToggleApi = (id, key) => {
        $.ajax({
            type:'POST',
            url:'{% url "permission-toggle" %}',
            headers: {'X-CSRFToken': '{{ csrf_token }}'},
            data: {
                id,
                key
            }
        })
    }

    // please dont touch harish ====>
    //piyush bhai kuch nahi aata tuje cutiya salla  ====>
    const particularUserView = id => {
        var left = (screen.width/2)-(1200/2);
        var top = (screen.height/2)-(600/2);
        window.open(`user-deatils-by-id/${id}`, 'NewWindow', `width=1200,height=600,left=${left},top=${top}`);
        localStorage.setItem("currentUserID", id);
    }
    
    {% comment %} const userCells = document.querySelectorAll('.user-cell');
    const userTabOpen = (userName) => {
        window.open('user-deatils', 'NewWindow', 'width=1200,height=600');
    };
    userCells.forEach(cell => {
        cell.addEventListener('click', () => {
            const userName = cell.textContent;
            userTabOpen(userName);
        });
    }); {% endcomment %}
    
    
</script>


{% endblock content %}