{% extends "index.html" %} {% block content %}

<div class="tab-content" id="search-user">
    <div class="user-table search-user">
        <div class="seach-area" style="margin-top:10px;">
            <label for="user-search-input">Search User:</label>
            <input type="search" id="user-search-input">
        </div>
        <div class="outcome-user">
            <ul id="menu">
                <li><a href="#">Parent</a>
                <ul>
              <li><a href="#">Products</a>
                    <ul>
                        <li>Pen</li>
                        <li>Shoes
                            <ul>
                                <li>Black</li>
                                <li>Brown</li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li><a href="#">Categories</a>
                    <ul>
                        <li>Page</li>
                        <li>Data</li>
                    </ul>
                </li>
            </ul>

            <ul id="user-list">
              
            </ul>
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>


<script>
    $(document).ready(function () {
        // Function to fetch and display all users
        function loadAllUsers() {
            $.ajax({
                url: '{% url 'Admin:search-all-user' %}', // Replace with your actual URL endpoint for fetching all users
                method: 'GET',
                success: function (data) {
                    $('#user-list').empty();
                    data.forEach(function (user) {
                        $('#user-list').append('<li>' + user.user_name + '</li>');
                    });
                },
                error: function (error) {
                    console.log(error);
                }
            });
        }

        // Load all users by default when the page loads
        loadAllUsers();

        // Hierarchical menu functionality
        $('#menu li a').click(function (e) {
            e.preventDefault(); // Prevent default anchor behavior
            var li = $(this).parent('li');
            if (li.has('ul').length) {
                li.children('ul').toggle();
            }
        });

        // User search functionality
        $('#user-search-input').on('input', function () {
            var searchText = $(this).val().trim();
            if (searchText.length > 0) {
                $.ajax({
                    url: '{% url 'Admin:search-all-user' %}', // Replace with your actual URL endpoint for searching users
                    method: 'GET',
                    data: {
                        search_text: searchText,
                    },
                    success: function (data) {
                        $('#user-list').empty();
                        data.forEach(function (user) {
                            $('#user-list').append('<li>' + user.master_user.user_name + '</li>');
                        });
                    },
                    error: function (error) {
                        console.log(error);
                    }
                });
            } else {
                // If search field is empty, load all users again
                loadAllUsers();
            }
        });
    });
</script>



{% endblock content %}
