{% extends "index.html" %} {% block content %}

<div class="tab-content" id="search-user">
    <div class="user-table search-user">
        <div class="seach-area" style="margin-top:10px;">
            <label for="user-search-input">Search User:</label>
            <input type="search" id="user-search-input">
        </div>
        <div class="outcome-user">
            <ul id="user-list">
                <!-- User list will be populated dynamically -->
            </ul>
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function () {
        // Function to fetch and display all users
        function loadAllUsers() {
            $.ajax({
                url: '{% url 'Admin:search-all-user' %}', // Replace with your actual URL endpoint for fetching all users
                method: 'GET',
                success: function (data) {
                    // Clear previous search results
                    $('#user-list').empty();
                    // Populate the user list with all users
                    data.forEach(function (user) {
                        $('#user-list').append('<li>' + user.user_name + '</li>');
                    });
                },
                error: function (error) {
                    console.log(error);
                }
            });
        }

        // Load all users by default when the page loads
        loadAllUsers();

        $('#user-search-input').on('input', function () {
            let searchText = $(this).val().trim();
            if (searchText.length > 0) {
                // Perform an AJAX request to fetch matching users based on search text
                $.ajax({
                    url: '{% url 'Admin:search-all-user' %}', // Replace with your actual URL endpoint for searching users
                    method: 'GET',
                    data: {
                        search_text: searchText,
                    },
                    success: function (data) {
                        $('#user-list').empty();
                        data.forEach(function (user) {
                            $('#user-list').append('<li>' + user.user_name + '</li>');
                        });
                    },
                    error: function (error) {
                        console.log(error);
                    }
                });
            } else {
                // If search field is empty, load all users again
                loadAllUsers();
            }
        });
    });
</script>



{% endblock content %}
