{% extends "index.html" %} {% block content %}

<div class="tab-content" id="search-user">
    <div class="user-table search-user">
        <div class="seach-area" style="margin-top:10px;">
            <label for="user-search-input">Search User:</label>
            <input type="search" id="user-search-input">
        </div>
        <div class="outcome-user">

            <ul id="searchUserUlId">
            </ul>
        </div>
    </div>
</div>
<style>
    .plus-sign {
        margin-right: 5px;
        padding: 1px 3px;
        border: 1px solid #808080;
        color: #3d3de9;
        background-color: #9c9696;
        display: inline-block;
        font-size: 10px;
        text-decoration: none;
    }
</style>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    const particularUserView = id => {
        var left = (screen.width/2)-(1200/2);
        var top = (screen.height/2)-(600/2);
        window.open(`user-deatils-by-id/${id}`, 'NewWindow', `width=1200,height=600,left=${left},top=${top}`);
        localStorage.setItem("currentUserID", id);
    }

    const user_type = "{{request.user.user_type}}"
    $(document).ready(function () {
        function loadAllUsers() {
            $.ajax({
                url: '{% url 'search-user-api' %}',
                method: 'GET',
                success: function (data) {
                    if (user_type !== "SuperAdmin") {
                        data.data.map(mapItem =>
                            $("#searchUserUlId").append(`
                                <ul>
                                    <li style="list-style-type: none;">
                                        <a href="#" class="plus-sign">+</a> <a href="#" onclick="particularUserView('${mapItem?.master_user}')">${mapItem?.master_user_details?.user_name} (${mapItem?.master_user_details?.user_type})</a>
                                        <ul>
                                            ${mapItem?.clients?.map(child => `<li style="list-style-type: none;"><a href="#" onclick="particularUserView('${child?.client}')">${child?.client_user_details.user_name} (${child?.client_user_details?.user_type})</a></li>`).join('')}
                                        </ul>
                                    </li>
                                </ul>`)
                        );
                    } else {
                        data.data.map(mapItem =>
                            $("#searchUserUlId").append(`
                                <ul>
                                    <li style="list-style-type: none;">
                                        <a href="#" class="plus-sign">+</a> <a href="#" onclick="particularUserView('${mapItem.user}')">${mapItem.user_details.user_name} (${mapItem.user_details.user_type})</a>
                                        <ul>
                                            ${mapItem.masters.map(master => `<li style="list-style-type: none;"> <a href="#" class="plus-sign">+</a> <a href="#" onclick="particularUserView('${master.master_user}')">${master.master_user_details.user_name} (${master.master_user_details.user_type})</a>
                                                                            <ul>
                                                                                ${master.clients.map(child => `<li style="list-style-type: none;"><a href="#" onclick="particularUserView('${child.client}')">${child.client_user_details.user_name} (${child.client_user_details.user_type})</a></li>`).join('')}
                                                                            </ul></li>`)
                                            .join('')}
                                        </ul>
                                        <ul>
                                         ${mapItem.clients.map(child => `<li style="list-style-type: none;"><a href="#" onclick="particularUserView('${child.client}')">${child.client_user_details.user_name} (${child.client_user_details.user_type})</a></li>`).join('')}
                                        </ul>
                                    </li>
                                </ul>`)
                        );
                    }
                },
                error: function (error) {
                    console.log(error);
                }
            });
        }
        loadAllUsers();
    
        // Event delegation for click
        $('#searchUserUlId').on('click', 'li > a', function (e) {
            e.preventDefault();
            var li = $(this).parent('li');
            if (!li.has('ul')) {
                return;
            }
            li.children('ul').toggle();
        });
    });


    $('#user-search-input').on('input', function () {
        var searchTerm = $(this).val().toLowerCase();
        $('#searchUserUlId li').each(function () {
            var userText = $(this).text().toLowerCase();
            if (userText.indexOf(searchTerm) === -1) {
                $(this).hide();
            } else {
                $(this).show();
            }
        });
    });
    

</script>



{% endblock content %}
